<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="../../사용자/header.css" type="text/css">
  <link rel="stylesheet" href="admin_statistics1.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
  <div id="container">
    <div class="header">
      <div class="top_menu">
        <span><a href="#" class="login-panel">로그인</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">회원가입</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">고객센터</a></span>
      </div>
      <div class="main-logo">
        <div class="home-logo"><img src="../../사용자/img/기쁘티콘.png" width="230px" height="100px"></a></div>
      </div>
    </div>
    <div id="content">

      <!-- sidebar -->
      <div id="sidebar">
        <div id="admin-menu">
          <h2>회원관리</h2>
          <h2>상품관리</h2>
          <h2>배너관리</h2>
          <h2>판매요청관리</h2>
          <h2>거래내역관리</h2>
          <h2>포인트관리</h2>
          <h2>고객센터</h2>
          <h2>통계분석</h2>
        </div>
        <div id="admin-memo">
          <span class="span">Memo</span>
          <textarea id="memo">2021-03-25 관리자 메모내용</textarea>
        </div>
      </div>
      <div id="main">
        <h2>통계분석</h2>
        <div id="menu">
          <div>
            <a href="#" style="color: rgb(255, 88, 93);">매출 / 방문자수</span></a>
          </div>
          <div>
            <a href="#">카테고리별 매출비율</span></a>
          </div>
          <div>
            <a href="#">카테고리별 인기상품</span></a>
          </div>
        </div>

        <!-- search area -->
        <div class="search-area">
            <select class="search-select">
                <option>선택1</option>
                <option>선택2</option>
                <option>선택3</option>
                <option>선택4</option>
              </select>
          <div class="date-search">
            <input type="date" id="start-date">
            <span style="font-size:20px">~</span>
            <input type="date" id="end-date">
          </div>
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
        </div>
        <!-- search area end -->
        
        <div id="svchart">
            <img src="../img/chart2.png" width=49.5%>
            <img src="../img/chart3.png" width=49.5%>
        </div>




        

      </div>
    </div>
  </div>
</body>

</html>