<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="../../사용자/header.css" type="text/css">
        <link rel="stylesheet" href="admin_mdetail.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    </head>
    <body>
        <div id="container">
            <div class="header">
                <div class= "top_menu">
                    <span><a href="#" class="login-panel">로그인</a></span>
                    <span class="header_divider">|</span>
                    <span><a href="#" class="login-panel">회원가입</a></span>
                    <span class="header_divider">|</span>
                    <span><a href="#" class="login-panel">고객센터</a></span>
                </div>
                <div class="main-logo">
                    <div class="home-logo"><img src="../../사용자/img/기쁘티콘.png" width="230px" height="100px"></a></div>
                </div>      
            </div>
            <div id="content">
                <!-- sidebar -->
                <div id="sidebar">
                  <div id="admin-menu">
                      <h2>회원관리</h2>
                      <h2>상품관리</h2>
                      <h2>배너관리</h2>
                      <h2>판매요청관리</h2>
                      <h2>거래내역관리</h2>
                      <h2>포인트관리</h2>
                      <h2>통계분석</h2>
                  </div>
                  <div id="admin-memo">
                      <span class="span">Memo</span>
                      <textarea id="memo">2021-03-25 관리자 메모내용</textarea>
                  </div>
              </div>
                <div id="main">
                    <h2>회원관리</h2>
                    <div id="menu">
                        <div> 
                            <a href="#">회원상세조회</span></a>
                        </div>
                    </div>
                    <br>
                   
                    
                    <table id="t1" width=100%>
                        <thead>
                          <tr>
                            <th>회원번호</th>
                            <th>이메일</th>
                            <th>이름</th>
                            <th>휴대폰</th>
                            <th>가입일시</th>
                            <th>계좌정보 - 은행</th>
                            <th>계좌정보 - 계좌번호</th>
                            <th>전체포인트</th>
                            <th>주문횟수</th>
                            <th>총 주문금액</th>
                            <th>1:1문의횟수</th>
                            <th>회원상태</th>
                            <th>탈퇴처리일시</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="c2">2354</td>
                            <td class="c2">example2354@gmail.com</td>
                            <td class="c2">홍길동</td>
                            <td class="c2">01023456789</td>
                            <td class="c2">2021.01.01. 10:05:34</td>
                            <td class="c2">우리은행</td>
                            <td class="c2">1004719925331</td>
                            <td class="c2">1,080P</td>
                            <td class="c2">5</td>
                            <td class="c2">27,560원</td>
                            <td class="c2">2</td>
                            <td class="c2">정상</td>
                            <td class="c2">ㅤ</td>
                          </tr>
                          <tr>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3">ㅤ</td>
                            <td class="c3"><input type="button" class="btnclass" value="포인트 충전/사용내역 조회"></td>
                            <td class="c3"><input type="button" class="btnclass" value="거래내역 조회"></td>
                            <td class="c3">ㅤ</td>
                            <td class="c3"><input type="button" class="btnclass" value="1:1문의 조회"></td>
                            <!-- <td class="c3"><button class="btnclass">선택</button></td> -->
                            <td class="c3">
                                <select class="btnclass" style="background-color:rgb(245, 243, 243)">
                                    <option value="정상" selected="selected">정상</option>
                                    <option value="탈퇴">탈퇴</option>
                                </select>
                            </td>
                            <td class="c3">ㅤ</td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <br>
                      <div id="memo-container">
                      <!-- <span style="display: inline-block; width:175px;" id="memo-title">관리자 메모</span> <br> -->
                      <p id="memo-title">관리자 메모</p>
                      <input id="memo-input" type="text" style="border:solid black 1px">
                      <input type="button" value="수정">
                      </div>
                      
                    
                      
                    </div>
                    
                    
                </div>
            </div>

        </div>
    </body>
</html>
