<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="../../사용자/header.css" type="text/css">
  <link rel="stylesheet" href="admin_dealhist.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
  <div id="container">
    <div class="header">
      <div class="top_menu">
        <span><a href="#" class="login-panel">로그인</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">회원가입</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">고객센터</a></span>
      </div>
      <div class="main-logo">
        <div class="home-logo"><img src="../../사용자/img/기쁘티콘.png" width="230px" height="100px"></a></div>
      </div>
    </div>
    <div id="content">

      <!-- sidebar -->
      <div id="sidebar">
        <div id="admin-menu">
          <h2>회원관리</h2>
          <h2>상품관리</h2>
          <h2>배너관리</h2>
          <h2>판매요청관리</h2>
          <h2>거래내역관리</h2>
          <h2>포인트관리</h2>
          <h2>통계분석</h2>
        </div>
        <div id="admin-memo">
          <span class="span">Memo</span>
          <textarea id="memo">2021-03-25 관리자 메모내용</textarea>
        </div>
      </div>
      <div id="main">
        <h2>거래내역관리</h2>

        <br><br>

        <!-- search area -->
        <div class="search-area">
          <span id="period">거래 기간</span>
          <div class="date-search">
            <input type="date" id="start-date">
            <span style="font-size:20px">~</span>
            <input type="date" id="end-date">
          </div>
          <select class="search-select">
            <option>전체</option>
            <option>주문번호</option>
            <option>상품일련번호</option>
            <option>회원 ID</option>
          </select>
          <form class="search-form">
            <div>
              <input type="text" class="search-input" />

              <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- search area end -->
        <br><br>
        <div>
          <table id="t1" width="100%">
            <tr>
              <th style="width:12%">주문번호</th>
              <th style="width:10%">구매자ID</th>
              <th style="width:15%">상품일련번호</th>
              <th style="width:20%">상품명</th>
              <th style="width:10%">판매자</th>
              <th style="width:20%">구매일자</th>
              <th>상태</th>
            </tr>
            <tr>
              <td>1</td>
              <td>test1</td>
              <td>013405</td>
              <td>이디야 아메리카노</td>
              <td>user01</td>
              <td>2020-03-16</td>
              <td>구매확정 대기중</td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>6</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>7</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>8</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>9</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>11</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>12</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>


          </table>


        </div>
        <br><br>
        <div class="pagination">
          <a href="#">&lt;</a>
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&gt;</a>
        </div>

      </div>
    </div>
  </div>
</body>

</html>