<!DOCTYPE html>
    <script src="https://kit.fontawesome.com/61917e421e.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="header.css" type="text/css">
    <link rel="stylesheet" href="sale.css" type="text/css">
    <link rel="stylesheet" href="order.css" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
</head>

<body>
    <!-- 헤더 -->
    <div id="header">
        <div class= "top_menu">
            <span><a href="#" class="login-panel">로그인</a></span>
            <span class="header_divider">|</span>
            <span><a href="#" class="login-panel">회원가입</a></span>
            <span class="header_divider">|</span>
            <span><a href="#" class="login-panel">고객센터</a></span>
        </div>
        <div class="main-logo">
            <div class="home-logo"><img src="img/기쁘티콘.png" width="80%" ></a></div>
        </div>
        <div class="main-bar">
            
            <div class="bar-left">
                <div class="category-drop">
                    <div class="category-btn"><i class="fas fa-bars"></i>&nbsp;전체 카테고리</div>
                </div>
                <div class="leftmenus">
                    <div class="leftmenu">충전하기</div>  
                    <div class="leftmenu"><i class="fas fa-map-marker-alt"></i></div>
                </div>
            </div>

            <div class="search">
                <form action="(login)" >
                    <input type="text" class="searchbar" placeholder="기쁘티콘">
                    <button class="searchbutton"><i class="fas fa-search"></i> </button>
                </form>
            </div>
            
            <div class="bar-right">
            
                <span class="rightmenu"><i class="fas fa-ticket-alt"></i></span>
            
                <span class="rightmenu">판매하기</span>
                <span class="rightmenu">마이페이지</span>
            </div>
        </div>  
    </div>
    <!-- 컨테이너 전체 -->
    <div id="container">
        <div id="space"></div> 
        <!-- '구매하기'부터 전체 -->
        <div id="main">

            <div class="menuname"><h2>구매하기</h2></div>  

                <!-- '구매상품'부터 전체 -->
                <div id="content">

                    <!-- 구매상품 -->
                    <h3 class="tit_section fst">구매상품</h3>
                    <div id="itemList" class="page_aticle order_goodslist">
                        <div class="info_product">
                            <div class="imgsec">
                                <img src="img/star_americano.png" alt="">
                            </div>
                            <div class="short_info">[스타벅스] 카페아메리카노 Tall 상품을 주문합니다.</div>
                        </div>
                    </div>
                    
                    <!-- 구매자 정보 -->
                    <h3 class="tit_section">구매자 정보</h3>
                    <div class="order_section data_orderer">
                        <table class="goodsinfo_table ">
                        <tbody><tr class="fst">
                        <th>이름</th>
                        <td>
                        기쁨이
                        <input type="hidden" name="orderer_name" value="기쁨이">
                        </td>
                        </tr>
                        <tr>
                        <th>휴대폰</th>
                        <td>
                        01012345678
                        <input type="hidden" name="orderer_phone" value="01012345678">
                        </td>
                        </tr>
                        <tr>
                        <th>이메일</th>
                        <td>
                        <input type="hidden" id="email" name="orderer_email" value="asdf@naver.com" option="regEmail">
                        asdf@naver.com
                        <p class="txt_guide">
                        <span class="txt txt_case1">이메일을 통해 주문처리과정을 보내드립니다.</span>
                        <span class="txt txt_case2">정보 변경은 <span class="txt_desc">마이페이지 &gt; 개인정보 수정</span> 메뉴에서 가능합니다.</span>
                        </p>
                        </td>
                        </tr>
                        </tbody></table>
                    </div>

                    <!-- 결제금액 -->
                    <h3 class="tit_section">결제금액</h3>
                    <div class="orderitem_money_info">
                        <table class="money_info_table ">
                            <tbody><tr class="fst">
                            <th>최종 결제 금액</th>
                            <td>
                            3,990 <span>원</span>
                            <input type="hidden" name="orderer_name" value="기쁨이">
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 결제수단 -->
                    <h3 class="tit_section">결제수단</h3>
                    <table class="goodsinfo_table">
                        <tbody>
                        <tr>
                            <th>포인트 결제</th>
                            <td class="noline" style="position:relative">
                                <label class="label_radio checked" id="point" onclick="option_pay_standard('');" style="padding-bottom:4px;">
                                <input type="radio" name="settlekind" value="p" onclick="input_escrow(this,'N');" checked="checked">
                                현재 보유 포인트 <span class="p_pink"> 8,000 원</span>
                                </label>
                                </td>
                        </tr>
                        <tr>
                        <th>일반결제</th>
                        <td class="noline" style="position:relative">
                        <label class="label_radio" id="settlekindCard" onclick="option_pay_standard('');" style="padding-bottom:4px;">
                        <input type="radio" name="settlekind" value="c" onclick="input_escrow(this,'N');">
                        신용카드
                        </label>
                        </td>
                        </tr>
                        
                        <tr class="card_detail">
                        <th></th>
                        <td>
                        <div id="cardSelect"><div>
                            <div class="card_select">
                                <div class="select_box">
                                    <strong class="tit">카드를 선택해주세요</strong> 
                                    <!----> <select name="lguplus_card_code" class="list"><option disabled="disabled" value="">카드를 선택해주세요</option> <option value="61">현대</option><option value="41">신한</option><option value="31">비씨</option><option value="11">KB국민</option><option value="51">삼성</option><option value="36">씨티</option><option value="71">롯데</option><option value="21">하나(외환)</option><option value="91">NH채움</option><option value="33">우리</option><option value="34">수협</option><option value="46">광주</option><option value="35">전북</option><option value="42">제주</option><option value="62">신협체크</option><option value="38">MG새마을체크</option><option value="39">저축은행체크</option><option value="37">우체국카드</option><option value="30">KDB산업은행</option><option value="15">카카오뱅크</option></select></div> 
                                </div> <!----> 
                        <div class="card_event">
                            <div></div> 
                            <div class="inner_card">
                                <div><strong class="emph">· 무이자할부 유의사항</strong> 은행계열/체크/기프트/선불/법인/개인사업자 기업카드는 제외</div>
                            </div>
                        </div>
                    </div
                    ></div>
                        </td>
                        </tr>
                        
                        <tr>
                        <th> CHAI 결제</th>
                        <td>
                        <label class="label_radio" id="cardBenefitChai">
                        <input type="radio" name="settlekind" value="chai" onclick="input_escrow(this,'N')">
                        <img src="https://res.kurly.com/pc/service/order/2001/logo_chi_x2.png" height="18" alt="Chai 결제">
                        <img class="img_benefit" src="https://res.kurly.com/pc/service/order/2101/bubble_chai_0301.png" height="20">
                        <div class="info_benefit"></div>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <th> 토스 결제</th>
                        <td>
                        <label class="label_radio" id="cardBenefitToss">
                        <input type="radio" name="settlekind" value="toss" onclick="input_escrow(this,'N')">
                        <img src="https://res.kurly.com/pc/service/order/1912/toss-logo-signature.svg" height="18" alt="토스 결제">
                        <img class="img_benefit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4zwAAAgEBAKEeXHUAAAAASUVORK5CYII=" height="20">
                        <div class="info_benefit"></div>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <th>네이버페이 결제</th>
                        <td class="noline">
                        <label class="label_radio" id="cardBenefitNaverpay">
                        <input type="radio" name="settlekind" value="n" onclick="input_escrow(this,'N');">
                        <img src="//res.kurly.com/pc/service/order/1710/ico_naverpay_v3.png" height="20" alt="네이버 페이 로고">
                        <img class="img_benefit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4zwAAAgEBAKEeXHUAAAAASUVORK5CYII=" height="20">
                        <div class="info_benefit"></div>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <th>PAYCO 결제</th>
                        <td>
                        <label class="label_radio" id="cardBenefitPayco">
                        <input type="radio" name="settlekind" value="t" onclick="input_escrow(this,'N');check_naverNcashUseAble();">
                        
                        
                        
                        <img src="https://static-bill.nhnent.com/payco/checkout/img/v2/btn_checkout2.png" alt="PAYCO 간편결제" height="18">
                        <img class="img_benefit" src="https://res.kurly.com/pc/service/order/2101/bubble_payco_0303.png" height="20">
                        <div class="info_benefit"></div>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <th>스마일페이 결제</th>
                        <td>
                        <label class="label_radio" id="cardBenefitSmilepay">
                        <input type="radio" name="settlekind" value="s" onclick="input_escrow(this,'N')">
                        <img src="//res.kurly.com/pc/service/order/1712/ico_smilepay_v2.png" alt="스마일페이" height="18">
                        <img class="img_benefit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4zwAAAgEBAKEeXHUAAAAASUVORK5CYII=" height="20">
                        <div class="info_benefit"></div>
                        </label>
                        </td>
                        </tr>
                        <tr>
                        <th>휴대폰 결제</th>
                        <td>
                        <label class="label_radio">
                        <input type="radio" name="settlekind" value="h" onclick="input_escrow(this,'N')">
                        휴대폰
                        </label>
                        </td>
                        </tr>
                    
                        <tr>
                        <td class="txt_notice" colspan="2">
                        <ul>
                        <li>※ 페이코, 네이버페이, 토스, 차이 결제는 결제 시 결제하신 수단으로만 환불되는 점 양해부탁드립니다.</li>
                        <li>※ 고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한 토스 페이먼츠의 구매안전(에스크로) 서비스를 이용하실 수 있습니다.</li>
                        <li>※ 보안강화로 Internet Explorer 8 미만 사용 시 결제창이 뜨지 않을 수 있습니다. <a href="/shop/board/view.php?id=notice&amp;no=207" target="_blank">공지 보러가기</a></li>
                        <li id="coupon_typinfo" style="display:none">※ 무통장입금에서만 사용가능한 쿠폰을 선택하였습니다. 다른 결제 수단을 선택하시려면 쿠폰을 제거 하여 주십시오.</li>
                        </ul>
                        </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 개인정보 수집/제공 -->
                    <h3 class="tit_section">개인정보 수집/제공</h3>
                    <table class="goodsinfo_table">
                        <tbody>
                        <tr>
                        <td class="reg_agree">
                        <div class="bg_dim"></div>
                        <div class="check type_form">
                        <label class="agree_check">
                        <input type="checkbox" name="ordAgree" value="y" required="" fld_esssential="" label="결제 진행 필수 동의" msgr="결제 진행 필수 동의 내용에 동의하셔야 결제가 가능합니다.">
                        <span class="ico"></span>
                        결제 진행 필수 동의
                        </label>
                        <ul class="list_agree">
                        <li>
                        <span class="subject">개인정보 수집 · 이용 및 위탁 동의 <span class="emph">(필수)</span></span>
                        <a href="#terms" class="link_terms">약관보기</a>
                        </li>
                        <li id="pgTerms" style="display: list-item;">
                        <span class="subject">결제대행 서비스 약관 동의 <span class="emph">(필수)</span></span>
                        <a href="#pgTerms" class="link_terms">약관보기</a>
                        </li>
                        </ul>
                        </td>
                        </tr>
                        </tbody>
                    </table>

                    <input type="submit" value="결제하기" class="btn_payment">
                </div>
            </div>
        </div>
    </div>
</body>
</html>