<!DOCTYPE html>
    <script src="https://kit.fontawesome.com/61917e421e.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="header.css" type="text/css">
<link rel="stylesheet" href="prod_list.css" type="text/css">
<link rel="stylesheet" href="prod_detail.css" type="text/css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
</style>

</head>
<body>
    
    <div id="header">
    <div class= "top_menu">
        <span><a href="#" class="login-panel">로그인</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">회원가입</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">고객센터</a></span>
    </div>
    <div class="main-logo">
        <div class="home-logo"><img src="img/기쁘티콘.png" width="80%" ></a></div>
    </div>
    <div class="main-bar">
        
        <div class="bar-left">
            <div class="category-drop">
                <div class="category-btn"><i class="fas fa-bars"></i>&nbsp;전체 카테고리</div>
            </div>
            <div class="leftmenus">
                <div class="leftmenu">충전하기</div>  
                <div class="leftmenu"><i class="fas fa-map-marker-alt"></i></div>
            </div>
        </div>
    
        <div class="search">
            <form action="(login)" >
                <input type="text" class="searchbar" placeholder="기쁘티콘">
                <button class="searchbutton"><i class="fas fa-search"></i> </button>
            </form>
        </div>
        
        <div class="bar-right">
           
            <span class="rightmenu"><i class="fas fa-ticket-alt"></i></span>
           
            <span class="rightmenu">판매하기</span>
            <span class="rightmenu">마이페이지</span>
        </div>
        
    
      
    </div>
    </div>
    
    <!-- 컨테이너 전체 -->
    <div id="container">
        <div class="space"></div>
        <div class="main">
            <!-- 카테고리바 -->
            <nav>
                <div class="catename"><i class="fas fa-coffee"></i> &nbsp;카페</div>
                <ul>
                    <a href="#"><li>스타벅스</li></a>
                    <a href="#"><li>투썸플레이스</li></a>
                    <a href="#"><li>이디야</li></a>
                    <a href="#"><li>할리스커피</li></a>
                    <a href="#"><li>커피빈</li></a>
                    <a href="#"><li>엔젤리너스커피</li></a>
                    <a href="#"><li>뺵다방</li></a>
                    <a href="#"><li>풀바셋</li></a>
                    <a href="#"><li>쥬씨</li></a>
                    <a href="#"><li>공차</li></a>
                    <select class="search-select">
                        <option>전체</option>
                        <option>인기순</option>
                        <option>낮은 가격순</option>
                        <option>높은 가격순</option>
                    </select>
                </ul>
            </nav>
            <!-- 현재 위치-->
            <h2 class="titArea">
                <span class="nav">
                    <span class="icoHome" onclick="javascript:common_goUrl('/main/main.mhows');" style="cursor: pointer;">홈</span>
                        &gt; <a onclick="javascript:common_goUrl('/brand/brandList.mhows');" style="cursor: pointer;">카페</a>
                        &gt; <a onclick="javascript:common_goUrl('/brand/brandGoodsList.mhows?brand_no=7');" style="cursor: pointer;">스타벅스</a>
                        &gt; <span class="state">카페아메리카노 Tall</span>
                    </span>
            </h2>
            <!-- 상품 -->
            <div class="product_detail_top">
                <!-- 왼쪽 사진 -->
                <div class="pic"> 
                    <div class="img"><img style="width: 250px;" src="img/star_americano.png" alt=""></div>
                </div>
                <!-- 오른쪽 상품 정보 -->
                <div class="detail">
                    <div class="product">
                        <p class="brand"><a href="#self">스타벅스</a></p>
                        <p class="name">카페아메리카노 Tall</p>
                        <p class="price">
                            <b> <span>12%</span>
                                <span>3,610 </span>
                                <span>원</span></b>
                                <del> 4,100</del>
                        </p>
                    </div>
                    <div class="exp">
                        <p class="desc">기본 주의사항</p>
                        <p class="desc">쿠폰 사용처에서 유효기간 내 사용이 가능합니다.</p>
                        <p class="desc">바코드 인식이 안 될 경우, 바코드 번호를 입력하여 결제할 수 있습니다.</p>
                        <p class="desc">공항 백화점, 대형 쇼핑몰, 휴게소 등 일부 특수매장에서는 사용이 제한될 수 있습니다.</p>
                        <p class="desc">판매되는 쿠폰은 개인 간 거래를 통해 리셀링되는 상품으로 <span class="fc_red">유효기간 연장 및 환불이 불가</span>합니다.</p>
                        <p class="desc">쿠폰 사용과 관련한 불편은 1:1 문의로 문의바랍니다.</p>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="like-button">
                            <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
                            관심상품
                        </button>
                        <!-- select box 바꾸기!!!!!!-->
                        <select class="search-select">
                            <option>전체</option>
                            <option>상품코드</option>
                            <option>상품명</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 상품 설명 -->
            <div class="product_detail_exp">
                <p class="title">상품설명</p>
                <p class="t_exp">★본 상품은 프로모션 상품으로 유효기간 연장 및 환불이 불가합니다.
                    유의사항
                    -상기 이미지는 연출된 것으로 실제와 다를 수 있습니다.
                    -스타벅스 앱의 사이렌 오더를 통해서도 주문 및 결제가 가능합니다.
                    (단, 스타벅스 MD 제품은 스타벅스 앱의 사이렌 오더 주문 및 결제가 불가능 합니다.)
                    -매장 별 재고 상황에 따라 구매가 어려운 경우에는 동일 가격 이상의 타 음료로 교환 가능합니다.
                    -해당 쿠폰과 스타벅스 카드의 복합결제거래는 스타벅스 카드의 고유혜택인 Free Extra 적용대상이 아닌 점 이용에 참고하시기 바랍니다.
                    -해당 쿠폰 거래 시, 스타벅스 카드의 고유 혜택인 별 적립은 적용 대상이 아닌 점 이용에 참고하시기 바랍니다.
                    
                    사용제한
                    정식 판매처 외의 장소나 경로를 통하여 구매하거나 기타의 방법으로 보유하신 쿠폰은 정상적인 사용(환불, 재전송 등 포함)이 금지되거나 제한 될 수 있으니 주의 하시기 바랍니다.
                    
                    사용장소
                    스타벅스 전 매장(일부 제외 :미군부대 매장(오산AB, 평택험프리, 대구캠프워커, 군산AB, 캠프케롤, 캠프케이시, 평택험프리 트룹몰, 평택험프리 메인몰), 오션월드 점)
                    * 지급보증 : 본 상품은 별도의 지급보증 및 피해보상 보험계약체결 없이 자체 신용으로 발행되었습니다.
                </p>
            </div>
        </div>
    </div>

    <script>
        // like-button
        document.addEventListener('DOMContentLoaded', function() {
            var likeButton = document.getElementById('like-button');
            likeButton.addEventListener('click', function() {
            window.lb = likeButton;
            likeButton.classList.toggle('selected');
            });
        }, false);
    </script>
</body>
</html>