#container{
    width:1000px;
    height:1000px;
    /* background-color:bisque; */
    /* border-bottom: 2px solid gray; */
    margin: auto;
    
}
.space{
    height:40px;
    width:1000px;
    margin:auto;
}

/* 카테고리 네비게이션바 */
.catename, .search-result{
    padding: 10px;
}
.catename >.fas{
    color: #FF585D;
}
nav ul{
    width: 900px;
	background-color: white;
	padding: 0;
	overflow: hidden;
    border-bottom: 1px solid gainsboro;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li{
    color: #202020;
	display: inline-block;
	padding: 10px;
    font-size: small;
}
nav ul li:hover{
	color: #FF585D
}
.search-select {
    background-color: rgb(245, 244, 244);
    border: none;
    outline: none;
    border-radius: 5px;
    float: right;
    margin: 10px;
    
}
/* 상품 목록 */
table td{
    padding-bottom: 50px;
    /*border-spacing: 0px 50px;*/
}

td a:link{
    text-decoration: none;
}

.items{
    width:225px;
    height:100%;
    /*background-color: #514859;*/
}

.itemimg{
    width: 225px;
    height: 70%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itemimg > img {
    width:80%;
}

.itemnameNprice{
    width: 225px;
    height: 30%;
     /*background-color:hotpink;*/
    display: block;
}
.itembrand{
     /*background-color:burlywood;*/
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color:rgba(70,70,70,1);
}
.itemname{
    width: 100%;
    height: 25%;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color : black;
}

.itemprice{
     /*background-color:aquamarine;*/
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.itemprice > span{
    font-size: medium;
    color:crimson;
    font-weight: bold;
}

.itemprice > span:last-child{
    color: black

}
.itemoriginprice{
    width: 100%;
    height: 20%;
    font-size: small;
    color: gray;
    text-align: center;

}
.itemoriginprice > span{
    margin-right: 28%;
}

/* 페이지네이션 css */

.pagination {
    display:flex;
    justify-content:center;
}

.pagination li{
    list-style:none;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    background-color: rgb(245, 244, 244);
    margin: 0 3px 0 3px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

.paginate_button li.active {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

/* 재검색 안내 */
.noresult, .noresult-tip{
    text-align: center;
}
.noresult-tip{
    margin-top: 30px;
}
.tip_lst{
    font-size: small;
    color: grey;
    line-height: 8px;
}