#container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#main {
    min-width: 800px;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    margin-left: 5px;
}

#sidebar {
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    margin-right: 5px;
}

#admin-menu {
    color: white;
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    margin-right: 5px;
    background-color: rgb(255, 88, 93);
}

#content {
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    height: 600px;
    margin-top: 20px;
}

#sidebar h2 {
    margin: 15px;
}

#admin-memo {
    margin-top: 10px;
    width: 95%;
    min-height: 150px;
    padding: 5px;
    background-color: gainsboro;
    border: none;
    outline: none;
}

#memo {
    border: none;
    outline: none;
    width: 95%;
    height: 150px;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    resize: none;
}

#menu {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1.5px solid gray;
}

#menu div {
    margin: 0 auto;;
}

#menu a {
    font-weight: 600;
    font-size: 18px;
    color: rgb(71, 71, 71);
}

#period {
    font-size:14px;
}

.inputdate {
    margin-left:15px;
    margin-right:15px;
}


/* 검색 css */
.search-input {
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 0 0 0 20px;
    float: left;
}

.search-form {
    width: 300px;
    height: 30px;
    border-radius: 40px;
    background: rgb(245, 244, 244);
}

.search-button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.fa-search {
    color: rgb(71, 71, 71);
}

.search-select {
    /* background-color: rgb(245, 244, 244); */
    border: none;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    
}

.search-area {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    margin:20px 0 10px 0;
}

.search-select {
    padding:5px;
    margin:0 10px;
}

.date-search input {
    border: none;
    width: 130px;
    height: 30px;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    color: rgb(71, 71, 71);
}

.piechart {
    height:1000px;
}

.result-table {
    width: 100%;
    border: 2px solid #aaa;
    border-collapse: collapse;
    margin-bottom:50px;
}

.result-table > tbody > tr > td {
    border: 1px solid #aaa;
}

.result-table td:first-child {
    width: 40%
}

.result-table td:nth-child(2) {
    width: 60%
}

.result-table-nested {
    width: 100%;
}

.result-table-nested td:first-child {
    width: calc(100% - 40px);

}

.result-table-nested td:nth-child(2) {
    width: 40px;
}

td {
    padding:0 3px;
}

.cat {
    background-color:rgb(189,187,187);
    font-size:19px;
    padding-left:6px;
}

