<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header.css" type="text/css">
    <link rel="stylesheet" href="../templete.css" type="text/css">
    <link rel="stylesheet" href="/common-css/search-box.css" type="text/css">
    <link rel="stylesheet" href="/관리자/notice/admin_notice.css" type="text/css">
    <link rel="stylesheet" href="/관리자/notice/admin_faq.css" type="text/css">
    <link rel="stylesheet" href="/common-css/pagination.css" type="text/css">
    <link rel="stylesheet" href="notice_board.css" type="text/css">
    <link rel="stylesheet" href="faq_board.css" type="text/css">
 
    
    
    <script src="https://kit.fontawesome.com/61917e421e.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>

<div id="header">
    <div class= "top_menu">
        <span><a href="#" class="login-panel">로그인</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">회원가입</a></span>
        <span class="header_divider">|</span>
        <span><a href="#" class="login-panel">고객센터</a></span>
    </div>
    <div class="main-logo">
        <div class="home-logo"><img src="../img/기쁘티콘.png" width="80%" ></a></div>
    </div>
    <div class="main-bar">
        
        <div class="bar-left">
            <div class="category-drop">
                <div class="category-btn"><i class="fas fa-bars"></i>&nbsp;전체 카테고리</div>
            </div>
            <div class="leftmenus">
                <div class="leftmenu">충전하기</div>  
                <div class="leftmenu"><i class="fas fa-map-marker-alt"></i></div>
            </div>
        </div>

        <div class="search">
            <form action="(login)" >
                <input type="text" class="searchbar" placeholder="기쁘티콘">
                <button class="searchbutton"><i class="fas fa-search"></i> </button>
            </form>
        </div>
        
        <div class="bar-right">
           
            <span class="rightmenu"><i class="fas fa-ticket-alt"></i></span>
           
            <span class="rightmenu">판매하기</span>
            <span class="rightmenu">마이페이지</span>
        </div>
        

      
    </div>
</div>
</head>
<body>

    <div id="container">
        <div class="space"></div>
        <div class="main">
            
            <div class="menuhead">
                <div class="menuname">고객센터</div><!--메뉴 이름 (사이드바 위)-->
            </div>

            <div class="menubody">
                <div class="sidebarspace">
                    <div class="sidebar"> <!--사이드 바 영역 (필요한만큼 영역 세로로늘리기)-->
                        <!--필요한만큼 아래 추가해서 사용 (개당 세로크기70px)-->
                        <a href="(메뉴이동"><div class="bar"><div >공지사항</div><i class="fas fa-chevron-right"></i></div></a>
                        <a href="(메뉴이동"><div class="bar" style="background-color:rgb(240, 240, 240);"><div style="color: rgb(255, 88, 93); background-color:rgb(240, 240, 240);">자주묻는 질문</div><i class="fas fa-chevron-right"></i></div></a>
                        <a href="(메뉴이동"><div class="bar"><div>1:1문의</div><i class="fas fa-chevron-right"></i></div></a>
                      
                    </div>
                </div>
                <div class="emptyspace">

                </div>
                <div class="content"><!--메인컨텐츠 (이하 각자 내용 작성)-->
                   
                    <h3>자주묻는 질문</h3>
                    <div class="sub-category-area">
                        <button class="sub-category-btn-all">전체</button>
                        <button class="sub-category-btn-notice" style="background-color: rgb(255, 88, 93); color: white;">구매</button>
                        <button class="sub-category-btn-event">판매</button>
                    </div>
                    <!-- search area -->
                    <div class="search-area">
                        <form class="search-form">
                            <div>
                                <input type="text" class="search-input" />
                
                                <button type="submit" class="search-button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- search area end -->
                  
                    
                    <!--accordionMenu-->
                    <div class="accordionMenu">
                        <!-- 1st menu-->
                        <input type="checkbox" name="trg1" id="acc1" >
                        <label for="acc1"><span class="qna-q">Q. </span>기쁘티콘 판매자가 직접 거래를 요청하는 경우 어떻게 하나요?
                            <span class="faq-date">2021.03.24</span>
                   
                        </label>
                        <div class="content">
                            <div class="inner">
                                
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 2nd menu-->
                        <input type="checkbox" name="trg1" id="acc2" >
                        
                        <label for="acc2"><span class="qna-q">Q. </span>분쟁처리절차는 어떻게 되나요?
                            <span class="faq-date">2021.03.24</span>
              
                        </label>
                        <div class="content">
                            <div class="inner">
                                
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 3th menu-->
                        <input type="checkbox" name="trg1" id="acc3" >
                        <label for="acc3"><span class="qna-q">Q. </span>긴급재난지원금을 기쁘티콘에서 사용 가능한가요?
                            <span class="faq-date">2021.03.24</span>
                
                        </label>
                        <div class="content">
                            <div class="inner">
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 4th menu-->
                        <input type="checkbox" name="trg1" id="acc4" >
                        <label for="acc4"><span class="qna-q">Q. </span>환불계좌를 등록 / 변경하고 싶어요.
                            <span class="faq-date">2021.03.24</span>
            
                        </label>
                        <div class="content">
                            <div class="inner">
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 5th -->
                        <input type="checkbox" name="trg1" id="acc5" >
                        <label for="acc5"><span class="qna-q">Q. </span>환불계좌를 등록 / 변경하고 싶어요.
                            <span class="faq-date">2021.03.24</span>
                
                        </label>
                        <div class="content">
                            <div class="inner">
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 6th menu-->
                        <input type="checkbox" name="trg1" id="acc6" >
                        <label for="acc6"><span class="qna-q">Q. </span>환불계좌를 등록 / 변경하고 싶어요.
                            <span class="faq-date">2021.03.24</span>
             
                        </label>
                        <div class="content">
                            <div class="inner">
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                        <!-- 7th menu-->
                        <input type="checkbox" name="trg1" id="acc7" >
                        <label for="acc7"><span class="qna-q">Q. </span>환불계좌를 등록 / 변경하고 싶어요.
                            <span class="faq-date">2021.03.24</span>
                      
                        </label>
                        <div class="content">
                            <div class="inner">
                                <p><span class="qna-a">A. </span> 
                                    안녕하세요. 기쁘티콘입니다. 홈페이지를 통하지 않은 거래는 기쁘티콘에서 책임지지 않습니다. <br>
                                    따라서, 판매자가 홈페이지를 통하지 않은 직접 거래를 요청하는 경우 거래에 응하지 않는 것을 권합니다. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordionMenu-->

                    <!-- pagenation-->
                    <div class="pagination">
                        <a href="#">&lt;</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&gt;</a>
                    </div>
                    <!-- end pagenation-->

                </div>
            </div>
        </div>
    </div>

</body>
</html>