/*mypage_deals.css*/
/* --------------------이하 구매내역 css (위쪽 templete css)--------------------- */
.noSearchResult {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
    margin-top: 100px;
}

.contentfooter {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    text-align: center;
}

.delete-btn {
>>>>>>> c08d4284644355590471cd3444ebae14537495db
    display: block;
    float: none;
    width: 60px;
    height: 29px;
    line-height: 27px;
    border: 1px solid gray;
    background-color: #fff;
    color: gray;
    margin: 0 auto;
    cursor: pointer;
}

.noResult {
    margin-top: 30px;
    text-align: center;
}

.item table{
    width: 750px;
}

.item table td{
    display: inline-block;
    border-bottom: 1px solid #e6e6e6;
    padding: 5% 3.2%;
}

.items {
    width: 200px;
}

.itemname{
    cursor: pointer;
}
.itemname:hover, .delete-btn:hover{
    color: #FF585D;
}