/* --------------------이하 구매내역 css (위쪽 templete css)--------------------- */
.contentinfo {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.contentinfo i {
    font-size: 16px;
    color: rgb(71, 71, 71);
}

.contentsearch {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-by-period {
    display: flex;
    width: 40%;
}

.search-by-period > span {
    margin-right: 10px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
}

.search-form-period {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background: rgb(245, 244, 244);
}

.search-input-period {
    border: none;
    outline: none;
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 0 0 0 10px;
    float: left;
}

.search-by-text {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.search-cat {
    margin-right: 20px;
    margin-top: 2px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
}

.cat-drop-box {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 80px;
}

.item {
    width: 100%;
    height: fit-content;
}

.item_purdate {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 15px auto 5px auto;
}

.expr_dt {
    font-size: 14px;
    font-weight: lighter;
    color: #333333;
    display: flex;
    justify-content: center;
    width: 100%;
}

.item_info {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.item_img {
    width: 120px;
    height: 120px;
}

.item_brdNname {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.item_brd {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.item_name {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: start;
}

.item_name:hover {
    color: rgb(255, 88, 93);
    cursor: pointer;
}

.item_code {
    color: #333333;
}

.item_prc, .item_status {
    width: 80px;
    height: 80px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_status {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.item_status > div {
    text-align: center;
}

.item_buttons {
    width: fit-content;
    height: 70px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.noSearchResult {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
    margin-top: 100px;
}

.contentfooter {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.search-spec {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 60px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
}

.btn-disabled {
    background-color: rgb(96, 96, 96);
    color: white;
    cursor: not-allowed;
    /*font-weight: bold;*/
}

.btn-disabled:hover {
    cursor: not-allowed;
}

.btn-active {
    background-color: rgb(237, 237, 237);
    color: rgb(71, 71, 71);
}

.btn-active:hover {
    background-color: white;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(237, 237, 237);
}

.btn-cancel {
    background-color: rgb(255, 88, 93);
    color: white;
}

.btn-cancel:hover {
    background-color: white;
    color: rgb(255, 88, 93);
    border: 1px solid rgb(255, 88, 93);
}

.btn-cmpl {
    background-color: rgb(255, 88, 93);
    color: white;
    animation: heartbeat 1s 20;
}

.btn-cmpl:hover {
    background-color: white;
    color: rgb(255, 88, 93);
    border: 1px solid rgb(255, 88, 93);
}

.datepicker {
    background-color: white;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

input[type='date'] {
    outline: none;
}