#register-content{
    height: 500px;
    margin-left: 9%;
    margin-top: 35%;

}

.img_section{
    width: 100%;
    height: 40%;
    /* background-color: crimson; */
    display: flex;
}

.img_section > div {
    display: flex;
    justify-content: space-between;
    /* background-color: hotpink; */
    width: 50%;
}

.img_container{
    /* background-color:cornflowerblue; */
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.modal-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border:2px solid gainsboro;
}


.price_modify{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;

}

.select{
    width: 17.5%;
    /* background-color: grey; */
    margin-right: 10px;
    margin-left: 35px;
}
.price_select{
    /* background-color: greenyellow; */
    width: 30px;
    height: 30px;
}

.price_modify{
    display: flex;
    align-items: center;
}
input[type="radio"]{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    text-align: center;
}

label{
    /* background-color: greenyellow; */
    font-weight: bold;
    margin-right: 10px;
}

.price_section{
    display: flex;
    height: 10%;
    /* background-color: hotpink; */
    margin-bottom : 30px;
}

.info_section{
    height: 20%;
    /* background-color: hotpink; */
}

.date_section{
    display: flex;
    height: 15%;
    /* background-color: blue; */
}

.date-search{
    /* background-color: blueviolet; */
    position: relative;
    right: 10px;
}

input[type="date"]{
    background-color: white;
    border: 1px solid black;
}

#reg-btn-area{
    margin-top: 150px;
}

