.item_btn_seller{
    width: 11%;
    height: 95%;
    /* background-color: grey; */


}

.item_btn_seller > button {
    margin-bottom: 10px;
}

.item_prc{
    width: 100%;
    height: 150px;
    /*background-color: yellow;*/
    display: flex;
    font-weight: bold;
    font-size:19px;
    text-align: left;
    border-bottom: 3px solid gainsboro;

}

.item_prc_left{
    width: 150px;
    height: 100%;
    /*background-color: #989898;*/
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item_prc_right{
    width: 300px;
    height: 100%;
    /*background-color: #888888;*/
    margin-left:85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prc_value{
    /*background-color: rebeccapurple;*/


}

.prc_column{
    width: 100%;

    height: 30px;
    /*background-color: white;*/
    text-align: center;
    display: flex;

}
.prc_column_left{
    width: 50%;
    height: 100%;
    /*background-color: red;*/
    font-weight: bold;
    text-align: left;
}

.prc_column_right{
    width: 35%;
    height: 100%;
    /*background-color: red;*/
    font-weight: bold;
    text-align: left
}

.isAutoPrc{
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn-disabled:hover {
    cursor: not-allowed;
}

.modalOn{
    display: flex;
    justify-content: center;
    position: absolute;
    top:0%;
    bottom: 0%;
    width: 100%;
    height: 200%;
    background-color: rgba(10,10,10,0.5);
    visibility: hidden;
}