.bank_select{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    
}

#register-content{
    height: 500px;

}

#content{
    height: 300px;
    /* background-color: blue; */
}

.info_section{
    height: 25%;
}