.btn-remove {
    background-color: rgb(237, 237, 237);
    color: rgb(71, 71, 71);
}

.btn-remove:hover {
    background-color: white;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(237, 237, 237);
}

.item_btn_seller{
    width: fit-content;
    height: 95%;
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
}

.item_btn_seller > button {
    margin-bottom: 10px;
}