* {
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
}

#container {
    width: 1000px;
    height: fit-content;
    margin: auto;
}

#cs-container{
    width: 1000px;
    height: 970px;
    margin: auto;
}

.space30 {
    height: 30px;
    width: 1000px;
    background-color: white;
}

.space50 {
    height: 50px;
    width: 1000px;
    background-color: white;
}

.space100 {
    height: 100px;
    width: 1000px;
    background-color: white;
}

.main {
    width: 1000px;
    height: fit-content;
}

.cs-main{
    width: 1000px;
    height: 970px;
}

.menuhead {
    height: 80px;
    width: 1000px;
    display: flex;
    align-items: center;
}

.menuname {
    width: 200px;
    height: 120px;
    background-color: white;
    color: rgb(71, 71, 71);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubody {
    height: fit-content;
    width: 1000px;
    display: flex;
}

.cs-menubody{
    height: 850px;
    width: 1000px;
    display: flex;
}

.sidebarspace {
    height: fit-content;
    width: 200px;
}

.sidebar {
    margin: 50px auto 0 auto;
    height: fit-content;
    width: 180px;
    border: 1px solid gainsboro;
    border-bottom: none;
}

.sidebar li {
    list-style: none;
    border-bottom: 1px solid gainsboro;
}

.bar {
    height: 50px;
    width: 180px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.bar > div {
    width: 60%;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    text-align: left;
}

.bar > i {
    color: rgb(71, 71, 71);
    margin-left: 25px;
}

.menu div:hover {
    background-color: #f8f8f8;
}

.active a, .active div, .active i {
    background-color: #f8f8f8;
    color: #FF585D;
}

.abstracts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.abs {
    background-color: #f8f6f6;
    width: 180px;
    height: 120px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
}

.abs-search {
    width: 0;
}

.abs:hover {
    cursor: pointer;
}

.abs_name {
    /*text-align: center;*/
    font-size: 14px;
    margin: 10px auto 10px 30px;
}

.abs_name i {
    font-size: 12px;
}

.abs_num, .abs_pnt {
    /*text-align: center;*/
    font-size: 22px;
    margin: 20px auto auto auto;
}

.full-content{
    height: fit-content;
    width: 750px;
    margin: 0 0 0 50px;
}

.contentheader {
    height: 35px;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 2px solid rgb(117, 117, 117);
}

.sidebar > a:visited {
    text-decoration: none;
    color: black;
}

.sidebar > a:link {
    text-decoration: none;
    color: black;
}

.sidebar > a:hover {
    color: rgb(255, 88, 93)
}

.bar{
    border-right: 1px solid gainsboro;
}

@keyframes heartbeat0_5 {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes heartbeat0_3 {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1.0);
    }
}

.modalOn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    visibility: hidden;
    z-index: 2;
}

.line-117 {
    border-bottom: 2px solid rgb(117, 117, 117);
    margin: 10px 0 20px 0;
    width: 100%;
}