.verifyCode{
    display: flex;
    width: 100%;
    height: 30px;
    /*background-color: #8c59b9;*/
    font-size: 13px;
}

.code_section{
    margin-left: 33%;
    width: 170px;
    height: 90%;
    /*border-bottom: 0.5px solid grey;*/
    /*background-color: #4b70fd;*/
    display: flex;
    align-items: end;
}

.code_section > span{
    margin-top: 1px;
}

.input_code{
    font-size: 15px;
    width: 200px;
    height: 90%;
    background-color: rgba(0,0,0,0);
}

.msg-code-telno{
    width: 30%;
    background-color: #514859;
}

.msg_code_verify{
    display: none;
    margin-left: 30px;
    color: forestgreen;
}

h3 {
    font-size: 15px;
    font-weight: 600 !important;
}

#reg-btn-area {
    margin: 20px 0;
    justify-content: space-around;
}

.cancel {
    background-color: #ededed;
}

.cancel:hover {
    background-color: white;
    border: 1px solid #ededed;
}

.disabled {
    width: 60px;
    height: 25px;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 15px;
    background-color: rgb(71, 71, 71);
    color: white;
    cursor: not-allowed;
}

.message {
    margin-left: 29% !important;
}

#msg-telNo-confirm {
    margin-left: 35%;
}