<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign_up.css"/><!--sign_up.css로 pwd/email css 사용-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        
        <div class="imgcontainer">
           <img src="../img/기쁘티콘.png">
        </div>
        <div class="mention">
            해당 정보로 등록된 Email 입니다.
        </div>
        <div class="email">
            plan*****@gmail.com
        </div>
       
        <div class="element" id="btn">
            <button type="submit" class="btn002">비밀번호 찾기</button>
            <button type="submit" class="btn001">로그인 하러 가기</button>
        </div>
        
    </div>
</body>
</html>