<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign_in.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="element">
            <img src="../img/기쁘티콘.png">
            
        </div>
        <form action="#" method="POST">
        <div class="element">
            <input type="text" class="input001" name="id" placeholder="ID">
        </div>
        <div class="element">
            <input type="password" class="input001" name="password" placeholder="Password">
        </div>
        <div class="element">
            <span id="validateMsg"><i class="fas fa-exclamation-circle"></i>가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.</span>
        </div>
        <div class="element01">
            <div id="checkbox-container">
                <input type="checkbox" class="checkbox001" name="isRemeber">
                <span>Remember ID</span>
            </div>
            <span><a href="/sign_up">회원가입</a></span>
            <span><a href="/finduser">Email/비밀번호 찾기</a></span>
        </div>
        <div class="element" id="btn">
            <button type="submit" class="btn001">로그인</button>
        </div>
        </form>
    </div>
</body>
</html>