<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin_notice_detail.css" type="text/css">
    <link rel="stylesheet" href="../../common-css/button.css" type="text/css">
</head>
<body>
    <div class="detail-content">
        <div class="search-area">
            <select class="search-select">
                <option>공지</option>
                <option>이벤트</option>
            </select>
        </div>

        <div class="detail-title">
            <h5>제목</h5>
            <input type="text" class="detail-title-t" value="">
        </div>
        <div class="detail-sub">
            <h5>내용</h5>
            <input class="detail-sub-s" value="">
        </div>
        <div class="detail-btnline">
            <button class="btn btn-cancel">취소</button>
            <button class="btn btn-register">등록</button>
        </div>
        
    </div>
</body>
</html>