<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin_customer_center_delete.css" type="text/css">
    <link rel="stylesheet" href="admin_notice_detail.css" type="text/css">
    <link rel="stylesheet" href="../../common-css/button.css" type="text/css">
</head>
<body>
    <div class="delete-content">
        <div class="delete-question-area">
            <p class="delete-question">정말 삭제하시겠습니까?</p>
        </div>
        <div class="delete-content-area">
            <span class="search-selected">[구매]</span>
            <span class="de-title">안녕하세요? 반품에대해 질문드립니다</span>
            <span class="de-email">abcdef@gmail.com</span>
        </div>
        <div class="delete-btn-area">
            <button class="btn btn-cancel">CANCEL</button>
            <button class="btn btn-register">OK</button>
        </div>
    </div>
</body>
</html>