* {
    margin: 0;
    padding: 0;
    color: rgb(71, 71, 71);
}

#gifticon-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    width: 500px;
    height: fit-content;
    padding: 20px;
}

.gifticon-table {
    width: 90%;
    margin: 10px auto 0 auto;
    border-collapse: collapse;
}

.gifticon-table label {
    font-weight: 600;
    font-size: 16px;
}

.gifticon-table tr {
    border-bottom: 1px solid gray;
}

#state-tr {
    border-bottom: none;
}

.category-div span {
    font-size: 16px;
}

.gifticon-table td {
    padding-top: 10px;
}

.text-div, .category-div, .img-div, .email-div, .state-div {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.price-div {
    margin: 10px, auto;
}

.text-div, .decs-div, .sale-div {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.text-div input, .sale-div input {
    border: none;
    outline: none;
    width: 90%;
    height: 35px;
    font-size: 15px;
}

.reg-select {
    background-color: white;
    border: 1px solid gray;
    margin: 0;  
    width: 100px;
    height: 35px;
    font-size: 15px;
}

.category-div {
    display: flex;
    justify-content: space-between;
}

#price-tr td {
    width: 33%;
}

.sale-div, .price-div, .rd-div {
    width: 80%;
    margin: 5px auto;
}

.price-div div {
    display: inline-block;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 16px;
}

.rq-rate {
    color: rgb(255, 88, 93);
    font-weight: 600;
}

.rd-div input {
    margin: 7px;
}

.price-div, .rd-div {
    height: 40px;
    text-align: center;
}

.price-div span {
    margin-top: 15px;
}

.sale-div input {
    text-align: right;
    width: 70%;
    margin-left: 5px;
    background-color: white;
}

#decs-area {
    border: none;
    resize: none;
    outline: none;
    overflow: visible;
    width: 90%;
    min-height: 60px;
    margin: 10px;
    font-size: 15px;
}

.img-div {
    margin-top: 20px;
    height: 200px;
}

.img-div img {
    width: 80%;
    height: 100%;
    float: left;
}

#img-tr {
    border-bottom: none !important;
}

#img-tr td {
    width: 50%;
    height: 100px;
}

#reg-btn-area {
    width: 60%;
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: space-around;
}