* {
    margin: 0;
    padding: 0;
    color: rgb(71, 71, 71);
}

#register-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    width: 500px;
    height: 800px;
    padding: 20px;
}

#register-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

#register-table label {
    font-weight: 600;
    font-size: 18px;
}

#register-table tr {
    border-bottom: 1px solid gray;
}

.category-div span {
    font-size: 18px;
}

#name-tr td, #category-tr td, #name-tr td, #price-tr td, #decs-tr td, #img-tr td {
    padding-top: 10px;
}

.name-div, .category-div, .price-div, .rate-div, .decs-div, .img-div {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.name-div, .price-div, .rate-div, .decs-div {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.price-div, .rate-div {
    width: 60%;
}

.price-div span, .rate-div span {
    font-size: 14px;
}

.name-div input, .price-div input, .rate-div input {
    border: none;
    outline: none;
    width: 90%;
    height: 35px;
    font-size: 15px;
}

.price-div input, .rate-div input {
    width: 75%;
    margin-left: 10px;
    text-align: right;
}

.reg-select {
    background-color: white;
    border: 1px solid gray;
    margin: 0;  
    width: 100px;
    height: 35px;
    font-size: 15px;
}

.category-div {
    display:  flex;
    justify-content: space-between;
}

#decs-area {
    border: none;
    resize: none;
    outline: none;
    overflow: visible;
    width: 90%;
    min-height: 60px;
    margin: 10px;
    font-size: 15px;
}

.img-div img {
    width: 120px;
    height: 120px;
    float: left;
    border: 1px solid gray;
}

.img-div input {
    float: left;
    margin-top: 10px;
}

#img-tr {
    border-bottom: none !important;
}

#reg-btn-area {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.remove-img {
    position: relative;
    right: 110px;
}