#menu {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1.5px solid gray;
}

#menu div {
    margin: 0 auto;;
}

#menu a {
    font-weight: 600;
    font-size: 18px;
    color: rgb(71, 71, 71);
}

#menu a.active {
    color: rgb(255, 88, 93);
}

table{
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-x: auto;
    overflow-y: hidden;
    border-collapse:collapse;
    padding:0;
    margin:0;
    width:100%;
}

#t1 {
    border:none;
}

tbody{
    display:flex;
}

th{
    display:flex;
    background-color:rgb(189,187,187);
    border:1px solid black;
    height:35px;
    width:170px;
    align-items:center;
    text-align:center;
}

td{
    display:flex;
    border:1px solid black;
    height:35px;
    width:450px;
    align-items:center;
}

span {
    padding-left:10px;
}

.c3{
    display:flex;
    border:1px solid white;
    height:35px;
    width:155px;
    align-items:center;
}

.c3 input, select {
    height:30px;
}

#memo-input{
    width:620px;
}

#memo-title {
    display:flex;
    align-items:center;
    width:172px;
    height:35px;
    background-color:rgb(189,187,187);
    border:1px solid black;
    margin:0;
    font-weight:bold;
    
}

.btnclass {
    width:100%;
    text-align:center;
}

#statusbtn {
    width:155px;
    text-align-last:center;
    background-color:rgb(245, 243, 243);
}

#statusbtn option {
    text-align:center;
}

#memo-input {
    margin-bottom:100px;
    height:35px;
}

#memochange {
    width:155px;
    height:30px;
}

#submitform {
    width:800px;
}
