/* 버튼 css */
.btn {
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.btn-active {
    background-color: rgb(255, 88, 93);
    color: white;
}

.btn-disabled {
    background-color: rgb(188, 188, 188);
    color: rgb(55, 55, 55);
}

.dark {
    background-color: rgb(71, 71, 71);
    color: white;
}
