* {
    font-family: 'Noto Sans KR', sans-serif;
}

#header {
    height: 180px;
    color: #333;
    border-bottom: 1px solid gainsboro;
}

.top_menu {
    width: 1000px;
    height: 26px;
    display: flex;
    margin: auto;
    justify-content: flex-end;

}

.top_menu > span {
    margin: 0 5px;
}

.main-logo {
    padding: 15px;
    text-align: center;

}

.home-logo {
    width: 140px;
    margin: 0 auto;
}

.home-logo > a > img {
    width: 100%;
}

.main-bar {
    height: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.bar-left {
    /* background-color:yellow; */
    width: 275px;
    display: flex;
}


/*전체 카테고리 menu*/
.category-drop {
    color: #333;
    display: flex;
    width: 125px;
}
.exo-menu {
    height: 80%;
    margin: 13.5px auto 13.5px -40px;
    float: left;
    position: relative;
}

.exo-menu > li {
    display: inline-block;
    float: left;
}

.exo-menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}
.brdBox{
    background-color: rgb(245, 244, 244);
    position: relative;
    top: 0px;
}

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
    color: #FF585D;
}
li.drop-down ul > li > a:hover{
    background-color: rgb(245, 244, 244);
}

li.drop-down,
.flyout-right {
}

li.drop-down:before {
    content: "\f103";
    color: #fff;
    font-style: normal;
    display: inline;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 14px;
}

li.drop-down > ul {
    left: 40px;
    min-width: 150px; /* 박스 크기 */
    z-index: 2;
    padding: 18px 0;
}

.drop-down-ul {
    display: none;
}

.flyout-right > div {
    top: 18px;
    min-width: 150px;
    display: none;
}

li.drop-down > ul > li > a,
.flyout-right div > ul > li > a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    background-color: white;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
    border-right: none;
}
li.drop-down > ul > li > a{
    border: 1px solid gainsboro;
}
.flyout-right div > ul > li > a{
    background-color: rgb(245, 244, 244);
}

li.drop-down {
    height: 100%;
}

/*common*/
.flyout-right ul > li > a {
    background-color: white;
}

/*hover*/
.drop-down-ul:hover,
li.flyout-right > div:hover,
li.flyout-right a:hover + div,
li.drop-down > a:hover + .drop-down-ul {
    display: block;
    position: absolute;
}

.flyout-right a.on{
    background-color: rgb(245, 244, 244);
    color: #FF585D;
}

/*responsive*/
@media (min-width: 300px) {
    .flyout-right > div, li.drop-down > ul {
        padding-left: 0px;
        list-style: none;
        position: absolute;
        font-size: 14px;
    }

    .flyout-right > div {
        left: 100%;
        height: 468px;
        overflow-y: auto;

    }
    .brdBox > ul{
        list-style: none;
        left: 100%;
        padding-left: 0px;
    }
    .brdBox > ul >li{
        background-color: rgb(245, 244, 244);
    }
}

@media (max-width: 300px) {

    .exo-menu {
        min-height: 58px;
        background-color: white;
        width: 100%;
    }

    .exo-menu > li > a {
        width: 100%;
        display: none;
    }

    .exo-menu > li {
        list-style: none;
        width: 100%;
    }

    .display.exo-menu > li > a {
        display: block;
    }

    .flyout-right > div, li.drop-down > ul {
        padding-left: 0px;
        list-style: none;
        position: relative;
    }

}

.leftmenus {
    width: 150px;
    text-align: end;
    display: flex;
    justify-content: flex-start;

}

.leftmenu {
    margin: auto 20px auto 15px;
}

.search-bar-container {
    display: flex;
    height: 35px;
    width: 450px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
    margin: auto;
}

.h-search-form {
    display: flex;
    text-align: center;
    position: relative;
    border-radius: 40px;
}

.h-search-input {
    border: none;
    outline: none;
    width: 400px;
    height: 30px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 0 2px 20px;
    float: left;
}

.h-search-button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 5px 10px 0 0;
}

.fa-search {
    color: rgb(71, 71, 71);
}

.bar-right {
    width: 275px;
    display: flex;
    justify-content: flex-end;
}

.rightmenu {
    margin: auto 0 auto 40px;
}

.icons {
    text-align: left;
    display: flex;
}

.icon {
    font-size: x-large;
    margin: auto 30px auto 10px;
}

.header_divider {
    font-size: 14px;
    color: #666666;
}

.user-email {
    font-size: 14px;
    color: #333333;
}

.login-panel {
    font-size: 14px;
}

.login-panel:link {
    text-decoration: none;
    color: #333333;
}

.login-panel:visited {
    color: #333333;
}

.login-panel:hover, .leftmenu a:hover, .rightmenu a:hover {
    color: rgb(255, 88, 93);
}

a {
    text-decoration: none;
    color: #333;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.logout {
    color: #333333;
    border: none;
    outline: none;
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.logout:hover {
    color: rgb(255, 88, 93);
}
