
*{
    font-family: 'Noto Sans KR', sans-serif;
}
#header{
    height: 180px;
    color: #333;
    border-bottom: 1px solid gainsboro;
}

.top_menu{
    width:1000px;
    display: flex;
    margin:auto;
    justify-content: flex-end;

}

.top_menu > span {

    margin : 0 5px;

}
.main-logo {
    padding: 15px;
    text-align: center;

}

.home-logo {
    width: 140px;
    height: 30%;
    margin: 0 auto;
}

.home-logo > a > img {
    width: 100%;
}

.main-bar{
    height: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.bar-left{
    /* background-color:yellow; */
    width: 275px;
    display: flex;
}
.category-drop{
    /* background-color: blue; */
    display: flex;
    width: 125px;
}
.category-btn{
    margin: auto 10px auto 0;
    /* background-color: burlywood; */


}

.category-btn:hover{
    /* background-color: chartreuse; */

}
.leftmenus{
    /* background-color: darkorchid; */
    width: 150px;
    text-align: end;
    display: flex;
    justify-content: flex-start;

}
.leftmenu{
    margin: auto 20px auto 15px;
    /* background-color: darkseagreen; */


}
.search-bar-container {
    display: flex;
    height: 35px;
    width: 450px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
    margin: auto;
}

.search-form{
    display:flex;
    text-align: center;
    position: relative;
    border-radius: 40px;
}

.search-input {
    border: none;
    outline: none;
    width: 400px;
    height: 30px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 0 2px 20px;
    float: left;
}

.search-button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 5px 10px 0 0;
}

.fa-search {
    color: rgb(71, 71, 71);
}

.bar-right{
    /* background-color:burlywood; */
    width: 275px;
    display: flex;
    justify-content: flex-end;
}

.rightmenu {
    /* background-color:darkolivegreen; */
    margin: auto 0 auto 40px;

}
.icons{
    text-align: left;
    /* background-color: darkgreen; */
    display: flex;
}

.icon{
    font-size: x-large;
    margin: auto 30px auto 10px;
    /* background-color: chocolate; */
}

.login-panel:link{
    text-decoration: none;
    color: black;
}

.login-panel:visited{
    color: black;
}

.login-panel:hover{
    color: rgb(255,88,93);
}
/* ------------------------아래는 바디!----------------------- */
