* {
    font-family: 'Noto Sans KR', sans-serif;
}

#header {
    height: 180px;
    color: #333;
    border-bottom: 1px solid gainsboro;
}

.top_menu {
    width: 1000px;
    height: 26px;
    display: flex;
    margin: auto;
    justify-content: flex-end;

}

.top_menu > span {
    margin: 0 5px;
}

.main-logo {
    padding: 15px;
    text-align: center;

}

.home-logo {
    width: 140px;
    margin: 0 auto;
}

.home-logo > a > img {
    width: 100%;
}

.main-bar {
    height: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.bar-left {
    /* background-color:yellow; */
    width: 275px;
    display: flex;
}

.category-drop {
    color: #333;
    display: flex;
    width: 125px;
}

/*전체 카테고리 menu*/
.exo-menu {
    height: 80%;
    margin: 13.5px auto 13.5px -40px;
    float: left;
    position: relative;
}

.exo-menu > li {
    display: inline-block;
    float: left;
}

.exo-menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
    color: #FF585D;
}

li.drop-down,
.flyout-right {
    position: relative;
}

li.drop-down:before {
    content: "\f103";
    color: #fff;
    font-style: normal;
    display: inline;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 14px;
}

li.drop-down > ul {
    /*margin-top: 20px;*/
    list-style: none;
    left: 0px;
    min-width: 109px; /* 박스 크기 */

}

.drop-down-ul {
    display: none;
}

.flyout-right > ul {
    list-style: none;
    top: 0;
    min-width: 150px;
    display: none;
}

li.drop-down > ul > li > a,
.flyout-right ul > li > a {
    display: block;
    padding: 20px 22px;
    text-decoration: none;
    background-color: rgb(245, 244, 244);
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}

li.drop-down {
    height: 100%;
}

/*common*/
.flyout-right ul > li > a {
    background-color: rgb(245, 244, 244);
}

/*hover*/
.drop-down-ul:hover,
li.flyout-right > ul:hover,
li.flyout-right a:hover + ul,
li.drop-down > a:hover + .drop-down-ul {
    display: block;
}

/*responsive*/
@media (min-width: 300px) {
    .flyout-right > ul, li.drop-down > ul {
        padding-left: 0px;
        list-style: none;
        position: absolute;
        font-size: 14px;
    }

    .flyout-right > ul {
        left: 100%;
    }
}

@media (max-width: 300px) {

    .exo-menu {
        min-height: 58px;
        background-color: #fff;
        width: 100%;
    }

    .exo-menu > li > a {
        width: 100%;
        display: none;
    }

    .exo-menu > li {
        list-style: none;
        width: 100%;
    }

    .display.exo-menu > li > a {
        display: block;
    }

    .flyout-right > ul, li.drop-down > ul {
        padding-left: 0px;
        list-style: none;
        position: relative;
    }

}

.leftmenus {
    width: 150px;
    text-align: end;
    display: flex;
    justify-content: flex-start;

}

.leftmenu {
    margin: auto 20px auto 15px;
}

.search-bar-container {
    display: flex;
    height: 35px;
    width: 450px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
    margin: auto;
}

.h-search-form {
    display: flex;
    text-align: center;
    position: relative;
    border-radius: 40px;
}

.h-search-input {
    border: none;
    outline: none;
    width: 400px;
    height: 30px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 0 2px 20px;
    float: left;
}

.h-search-button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 5px 10px 0 0;
}

.fa-search {
    color: rgb(71, 71, 71);
}

.bar-right {
    width: 275px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.rightmenu {
    margin: auto 0 auto 40px;
}

.bubble {
    position: absolute;
    right: 174px;
    bottom: 45px;
    width: 60px;
    height: 20px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #ff585d solid 5px;
    animation: cloud 1.5s 40;
    font-size: 12px;
    text-align: center;
    visibility: hidden;
    cursor: pointer;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 5px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 12px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 9px 0;
    border-color: #ff585d transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -15px;
    left: 8px;
}

.bubble:hover {
    color: rgb(255, 88, 93);
}

i {
    cursor: pointer;
}

i:hover {
    color: rgb(255, 88, 93);
}

.icons {
    text-align: left;
    display: flex;
}

.icon {
    font-size: x-large;
    margin: auto 30px auto 10px;
}

.header_divider {
    font-size: 14px;
    color: #666666;
}

.user-email {
    font-size: 14px;
    color: #333333;
}

.login-panel {
    font-size: 14px;
}

.login-panel:link {
    text-decoration: none;
    color: #333333;
}

.login-panel:visited {
    color: #333333;
}

.login-panel:hover, .leftmenu a:hover, .rightmenu a:hover {
    color: rgb(255, 88, 93);
}

a {
    text-decoration: none;
    color: #333;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.logout {
    color: #333333;
    border: none;
    outline: none;
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.logout:hover {
    color: rgb(255, 88, 93);
}

@keyframes cloud {

    0% {
        bottom: 45px;
    }
    6% {
        bottom: 45.5px;
    }
    12.5% {
        bottom: 46px;
    }
    19% {
        bottom: 46.5px;
    }
    25% {
        bottom: 47px;
    }
    31% {
        bottom: 47.5px;
    }
    37.5% {
        bottom: 48px;
    }
    44% {
        bottom: 48.5px;
    }
    50% {
        bottom: 49px;;
    }
    56% {
        bottom: 48.5px;
    }
    62.5% {
        bottom: 48px;
    }
    69% {
        bottom: 47.5px;
    }
    75% {
        bottom: 47px;;
    }
    82% {
        bottom: 46.5px;
    }
    87.5% {
        bottom: 46px;
    }
    94% {
        bottom: 45.5px;
    }
    100% {
        bottom: 45px;
    }
}