#container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#main {
    min-width: 800px;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    margin-left: 5px;
}

#sidebar {
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    margin-right: 5px;
}

#admin-menu {
    color: white;
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    margin-right: 5px;
    background-color: rgb(255, 88, 93);
}

#admin-memo {
    margin-top: 10px;
    width: 95%;
    min-height: 150px;
    padding: 5px;
    background-color: gainsboro;
    border: none;
    outline: none;
}

#memo {
    border: none;
    outline: none;
    width: 95%;
    height: 150px;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    resize: none;
}

#content {
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    height: 600px;
    margin-top: 20px;
}

#sidebar h2 {
    margin: 15px;
}

#menu {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1.5px solid gainsboro;
}

#menu div {
    margin: 0 auto;;
}

#menu a {
    font-weight: 600;
    font-size: 18px;
    color: rgb(71, 71, 71);
}


#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a.active {
    color: rgb(255, 88, 93);
}

.search-area {
    float: right;
}

.search-select{
    width: 80px;
}
