.qna-q{
    font-size: 14px;
    font-weight: 600;
    color:rgb(255, 88, 93);
}

.faq-date{
    font-size: 10px;
    color: darkgrey;
}

.modify-odrNo, .register-odrNo{
    margin-left: 10px;
    width: 60px;
}

.modify-enabled, .register-enabled {

    margin-left: 10px;
}