.one-date{
    font-size: 10px;
    color: darkgrey;
    width: 300px;
    margin-left: 5px;
    /* background-color: green; */
}



.one-user-email{
   font-size: 12px;
   color: grey;
   
}

.dark{
    width: 40px;

}

.btn-qna-qa-modify{
    width: 40px;
    color: rgb(255, 88, 93);
    background-color: rgb(245, 244, 244);
    outline: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
 
    margin: 0 auto;    
}