.w15 {
    width: 15px;
}

.w90 {
    width: 90px;
}

.w200 {
    width: 200px;
}

/* modal css */

.prc-td {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.prc-td > input {
    margin: auto 0;
}

.w70 {
    width: 70px;
}

.rq-rate {
    color: rgb(255, 88, 93);
}

.img-btn {
    height: 40px;
    font-size: 16px;
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
}

.loading-delete {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 0;
}

.loading-delete > div {
    font-weight: 600;
    height: 30px;
}

.loading-delete > img {
    width: 140px;
    height: 140px;
}