h1 {
    margin-bottom:10px;
}

#submenu {
    margin-bottom:30px;
}

p {
    padding:2px;
}

#period {
    font-size:14px;
}

.inputdate {
    margin-left:15px;
    margin-right:15px;
}


/* 검색 css */
#search-bar-container {
    float:right;
    width: 300px;
    height: 30px;
    border-radius: 40px;
    background: rgb(245, 244, 244);
}

.search-input {
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 0 0 0 20px;
    float: left;
}

.search-button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.fa-search {
    color: rgb(71, 71, 71);
}

.search-select {
    border: none;
    outline: none;
    border-radius: 5px;

}

.search-area {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.period-container, .search-container {
    display: flex;
    align-items:center;
}

#period {
    margin-right:20px;
    font-size:18px;
}

#tilde {
    font-size:20px;
    margin:0 10px 0 10px;
}

.search-select {
    padding:5px;
    margin:0 10px;
}

.date-search input {
    border: none;
    width: 130px;
    height: 30px;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    color: rgb(71, 71, 71);
}

#t1 {
    text-align:center;
    /* border: 1px solid black; */
    border-collapse:collapse;
}

th {
    background-color:rgb(189, 187, 187);
    /* border:1px solid black;  */
    padding:7px;
}

td {
    border-bottom:1px solid black;
    padding:10px 0;
}

.pagination-container {
    margin: 20px;
}

.pagination {
    display:flex;
    justify-content:flex-end;
}

.pagination li{
    list-style:none;
}

.paginate_button li.active {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

#nonresultmessage {
    margin-top:100px;
    font-size:30px;
    text-align:center;
}
