.sub-category-btn-all{
    border: none;
}

.sub-category-btn-notice{
    border-left:1px solid rgb(172, 172, 172);
    border-right:1px solid rgb(172, 172, 172);
}


li{
    list-style: none;
}

.inner{
    padding: 0 25px 0 35px;
}

.content{
    background-color: #F5F4F4;
    padding: 20px 0 20px 0;
}

.qna-q {
    color: rgb(71, 71, 71);
}