/**, ::after, ::before{*/
/*    box-sizing: border-box;*/
/*}*/

.content{
    margin: 0 0 0 0;
    display: none;
}

.emptyspace{
    width: 50px;
    height: 2000px;
}

.search-form{
    float: right;
    margin-top: 10px;
}

.sub-category-btn-all, .sub-category-btn-notice, .sub-category-btn-event{
    width: 32.5%;
    height: 35px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.sub-category-btn-all{
    border-right:1px solid rgb(172, 172, 172);
}

.sub-category-btn-notice{
    border-right:1px solid rgb(172, 172, 172);
}

.accordionMenu{
    width: 750px;
    margin-top: 50px;
    border-top: 1px solid rgb(230, 230, 230);
}

.sub:hover{
    color: rgb(255, 88, 93);
}