.modal-content {
    height: 340px;
}

.modal-header {
    height: 70px;
}

.modal-body {
    height: 180px;
}

.search-selected {
    margin: 20px;
}

.btn-no {
    width: auto;
}

.dark, .btn-modify {
    margin-top: 5px;
}

.sub-category-btn-notice {
    border-right: none;
}

.sub-category-btn-event {
    border-left: 1px solid rgb(172, 172, 172);
}


.modify-title {
    margin: 10px 20px 0px 20px;
    width: 560px;
    height: 40px;
    font-size: 17px;
    resize: none;
    border: 1px solid gainsboro;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    /*padding: 0 25px 0 35px;*/
}

.userQstInner, .admin-inner {
    padding: 10px 25px 10px 35px;
    font-size: 16px;
    color: #333333;
}

.img_show {
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
    color: #333333;
    cursor: pointer;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    font-size: 12px;
}

.wait {
    background-color: rgb(255, 88, 93);
    /*border: 1px solid rgb(71, 71, 71);*/
    color: white;
    cursor: pointer;
    width: 50px;
    height: 20px;
    border-radius: 0px;
    font-size: 12px;
}

.finish {
    background-color: gainsboro;
    /*border: 1px solid rgb(71, 71, 71);*/
    color: #333;
    cursor: pointer;
    width: 50px;
    height: 20px;
    border-radius: 0px;
    font-size: 12px;
}

.modify {
    z-index: 1;
    color: rgb(255, 88, 93);
    font-size: 14px;
    border: none;
    background-color: unset;
}

.text-input {
    width: 450px;
}

input[name='title'] {
    height: 30px;
}

input[name='title'], input[type='textarea'] {
    border: none;
    outline: none;
    width: 90%;
}

.psnl-content {
    padding: 5px 5px;
}

.psnl-content > textarea {
    border: none;
    outline: none;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 120px;
    font-size: 14px;
}

.psnl-modify {
    margin-top: 0;
}

.detail-modal table {
    margin: 20px auto;
}

.td-title {
    font-size: 14px;
}

.qna-q, .qna-a {
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.qna-a {
    margin-top: 10px;
}

.ans-cntnt {
    margin-bottom: 10px;
    white-space: pre-line;
}

.inner {
    border-bottom: none !important;
}

.admin-inner {
    border-top: 2px solid white;
}

.psnl-delete {
    margin-top: 0;
}

.fa-file-image {
    color: #8b8b8b;
}