.btn-no{
    width: auto;
}

.dark, .btn-modify{
    margin-top: 5px;
}

.sub-category-btn-notice{
    border-right: none;
}

.sub-category-btn-event{
    border-left: 1px solid rgb(172, 172, 172);
}

/* .qna-qq{
    border-bottom: 1px solid rgb(172, 172, 172);
} */