<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.BrandMapper">

    <select id="getBrandList" resultType="com.ncncn.domain.BrandVO">
        <![CDATA[
        select * from brand
        where cate_code=(select code from category
                         where name=#{name})
        ]]>
    </select>

    <!-- 카테고리별 브랜드 목록 조회  -->
    <select id="getBrdList" resultType="com.ncncn.domain.BrandVO">
        <![CDATA[
        select * from brand where enabled = '1' and cate_code = substring(#{code},1,2)
        ]]>
    </select>

</mapper>