<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.CmmnCodeMapper">

    <select id="getBankList" resultMap="bnkList">
        select code_name, code
        from cmmn_code
        where
              code_type = (select code_type from cmmn_code_type where code_descn = "은행")
          and enabled = 1
    </select>

    <resultMap id="bnkList" type="java.util.HashMap">
        <result property="bnkName" column="code_name"/>
        <result property="bnkCode" column="code"/>
    </resultMap>

</mapper>