<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.ConMapper">

    <insert id="accRegister">
        insert into bank_account
            value ( #{acc},
            #{userId},
            #{bnkCode},
            #{holder},
            #{isAuthed},
            now(),
            "001",
            now(),
            current_user (),
            now(),
            current_user ())
    </insert>

    <update id="accUpdate">
        update bank_account
        set acc=#{acc},
            bnk_code = #{bnkCode},
            holder = #{holder},
            auth_dt = now(),
            up_date = now(),
            is_authed = #{isAuthed},
            up_user = current_user()
        where user_id = #{userId}
    </update>

    <!-- ConHist insert -->
    <insert id="insertConHist">
        insert into pnt_hist(user_id, chg_dt, chg_quty, balance, pnt_hist_code, in_date, in_user, up_date, up_user)
        values(#{userId}, now(), #{chgQuty}, (select pnt from user where id=#{userId})+#{chgQuty}, #{pntHistCode}, now(), current_user (), now(), current_user ())

        <selectKey keyProperty="balance" resultType="int" order="AFTER">
            select balance from pnt_hist where user_id = #{userId} order by id desc limit 1
        </selectKey>
    </insert>

    <update id="updateUserCon">
        update user set pnt = #{balance}, up_date = now(), up_user = current_user() where id = #{userId}
    </update>
</mapper>