<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.ConMapper">

    <sql id="criteriaCon">
        <trim prefix="and">
            <if test="dateFrom != null and dateFrom != ''">
                    chg_dt >= #{dateFrom}
            </if>
        </trim>

        <trim prefix="and">
            <if test="dateTo != null and dateTo != ''">
                    adddate(#{dateTo}, interval 1 day) > chg_dt
            </if>
        </trim>

        <trim prefix="and (" suffix=")" prefixOverrides="OR">
            <foreach item="type" collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'A'.toString()">
                            pnt_hist_code = '001'
                        </when>
                        <when test="type == 'W'.toString()">
                            pnt_hist_code = '002'
                        </when>
                        <when test="type == 'B'.toString()">
                            pnt_hist_code = '003'
                        </when>
                        <when test="type == 'S'.toString()">
                            pnt_hist_code = '004'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <resultMap id="ConHist" type="java.util.HashMap">
        <result property="codeName" column="code_name"/>
        <result property="chgDt" column="chg_dt"/>
        <result property="chgQuty" column="chg_quty"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <insert id="accRegister">
        insert into bank_account
            value ( #{acc},
            #{userId},
            #{bnkCode},
            #{holder},
            "1",
            now(),
            "001",
            now(),
            current_user (),
            now(),
            current_user ())
    </insert>

    <update id="accUpdate">
        update bank_account
        set acc=#{acc},
            bnk_code = #{bnkCode},
            holder = #{holder},
            auth_dt = now(),
            up_date = now(),
            up_user = current_user()
        where user_id = #{userId}
    </update>

    <!-- ConHist insert -->
    <insert id="insertConHist">
        insert into pnt_hist(user_id
        <if test="dealId != 0">
            ,deal_id
        </if>
        , chg_dt, chg_quty, balance, pnt_hist_code, in_date, in_user, up_date, up_user)
        values(#{userId}
        <if test="dealId != 0">
            , #{dealId}
        </if>
        , now(), #{chgQuty}, (select pnt from user where id=#{userId})+#{chgQuty}, #{pntHistCode}, now(), current_user (), now(), current_user ())

        <selectKey keyProperty="balance" resultType="int" order="AFTER">
            select balance from pnt_hist where user_id = #{userId} order by id desc limit 1
        </selectKey>
    </insert>

    <update id="updateUserCon">
        update user set pnt = #{balance}, up_date = now(), up_user = current_user() where id = #{userId}
    </update>

    <select id="getConHistWithPaging" resultMap="ConHist">
        select user_id, code_name, chg_dt, chg_quty, balance
        from pnt_hist p
        left outer join (select * from cmmn_code
        where code_type='PNT_HIST') c
        on p.pnt_hist_code = c.code
        where user_id = #{userId}
        <include refid="criteriaCon"></include>
        order by chg_dt desc
        LIMIT ${amount}
        OFFSET ${(pageNum-1)*amount}
    </select>

    <select id="getConTotal" resultType="int">
        select count(*)
        from pnt_hist
        where user_id = ${userId}
        <include refid="criteriaCon"></include>
    </select>
</mapper>