<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.NoticeMapper">

    <select id="getList" resultType="com.ncncn.domain.CsNoticeVO">
        <![CDATA[
        select * from giffticon.cs_notice
        ]]>
    </select>

    <insert id="insert">
        <![CDATA[
            insert into giffticon.cs_notice (id, user_id, title, cntnt, cs_cate_code, start_dt, end_dt)
            values (default, #{user_id}, #{title}, #{cntnt}, #{cs_cate_code}, now(), now())
        ]]>
    </insert>
    
    <insert id="insert"
    


</mapper>
