<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.NoticeMapper">

    <select id="getList" resultType="com.ncncn.domain.CsNoticeVO">
        <![CDATA[
        select * from cs_notice
        ]]>
    </select>

<!--    <select id="search" resultType="com.ncncn.domain.CsNoticeVO">-->
<!--        <![CDATA[-->
<!--            select * from cs_notice where title LIKE #{title}-->
<!--        ]]>-->
<!--    </select>-->

    <select id="read" resultType="com.ncncn.domain.CsNoticeVO">
        <![CDATA[
        select * from cs_notice where id = #{id}
        ]]>
    </select>

<!--    <select id="getListWithPaging" resultType="com.ncncn.domain.CsNoticeVO">-->
<!--        <![CDATA[-->
<!--            select A.*, @ROWNUM := @ROWNUM + 1 AS ROWNUM-->
<!--            from-->
<!--                (select *-->
<!--                from cs_notice-->
<!--                order by id desc)A, (SELECT @ROWNUM:=10) R-->
<!--            limit #{amount} offset ${(pageNum-1) * amount}-->
<!--        ]]>-->
<!--    </select>-->

    <select id="getListWithPaging" resultType="com.ncncn.domain.CsNoticeVO">
        <![CDATA[
            select *
            from cs_notice
            order by id desc
            limit #{amount} offset ${(pageNum-1) * amount}
        ]]>
    </select>


<!--    <select id="getListWithPaging" resultType="com.ncncn.domain.CsNoticeVO">-->
<!--        <![CDATA[-->
<!--            select *-->
<!--            from user-->
<!--            where-->
<!--        ]]>-->
<!--        <trim prefix="" suffix="" prefixOverrides="OR">-->
<!--            <foreach item='type' collection="typeArr">-->
<!--                <trim prefix="OR">-->
<!--                    <choose>-->
<!--                        <when test="type == 'N'.toString()">-->
<!--                            name like CONCAT('%', #{keyword}, '%')-->
<!--                        </when>-->
<!--                        <when test="type == 'E'.toString()">-->
<!--                            email like CONCAT('%', #{keyword}, '%')-->
<!--                        </when>-->
<!--                        <when test="type == 'T'.toString()">-->
<!--                            tel_no like CONCAT('%', #{keyword}, '%')-->
<!--                        </when>-->
<!--                    </choose>-->
<!--                </trim>-->
<!--            </foreach>-->
<!--        </trim>-->

<!--        <![CDATA[-->
<!--            LIMIT #{amount}-->
<!--            OFFSET ${(pageNum-1) * amount};-->

<!--        ]]>-->
<!--    </select>-->

    <insert id="insert">
        <![CDATA[
            insert into cs_notice ( user_id, title, cntnt, cs_cate_code, start_dt, end_dt, is_fixed, in_user, up_user)
            values (#{userId}, #{title}, #{cntnt}, #{csCateCode}, now(), now(), #{isFixed}, current_user, current_user )
        ]]>
    </insert>
    
<!--    <insert id="insertSelectKey">-->
<!--        <![CDATA[-->
<!--            <selectKey keyProperty="id" order="BEFORE" reseltType="long">-->
<!--                select default from giffticon.cs_qwnotice-->
<!--            </sselectKey>-->

<!--            insert into giffticon.cs_notice (id, user_id, title, cntnt, cs_cate_code, start_dt, end_dt)-->
<!--            values (default , #{user_id}, #{title}, #{cntnt}, #{cs_cate_code}, now(), now())-->
<!--        ]]>-->
<!--    </insert>-->


    <delete id="delete">
        delete from cs_notice where id = #{id}
    </delete>


    <update id="update">
        update cs_notice
        set title= #{title},
            cntnt= #{cntnt},
            is_fixed= #{isFixed}
        where id = #{id}
    </update>


</mapper>
