<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.ProdMapper">

    <sql id="criteria">
        <trim prefix="and">
            <if test='keyword != null and keyword neq ""'>
                prod.name like concat('%', #{keyword}, '%') OR brand.name like concat('%', #{keyword}, '%')
            </if>
        </trim>
    </sql>


    <!-- 카테고리 조회 -->
    <select id="getCate" resultType="com.ncncn.domain.CategoryVO">
        <![CDATA[
        select * from category where code = substring(#{code},1,2)
        ]]>
    </select>

    <!-- 카테고리별 브랜드 목록 조회  -->
    <select id="getBrandList" resultType="com.ncncn.domain.BrandVO">
        <![CDATA[
        select * from brand where cate_code = substring(#{code},1,2)
        ]]>
    </select>

    <!-- 기프티콘 상세 조회 -->
    <select id="getGiftiList" resultType="com.ncncn.domain.GifticonDTO">
        <![CDATA[
        select gifti.id, gifti.user_id, gifti.prod_code, brand.name as bname, prod.name as pname, prod.prc, gifti.dc_prc, gifti.expir_dt, gifti.dc_rate, gifti.gft_stus_code,prod.img_path  as pimg_path
        from gifticon as gifti
        INNER JOIN product as prod ON gifti.prod_code = prod.code
        INNER JOIN brand ON prod.brd_code = brand.code
        where prod_code like concat(#{code},'%') && gft_stus_code =002
        order by dc_prc
        ]]>
    </select>

    <select id="getGifti" resultType="com.ncncn.domain.GifticonDTO">
        <![CDATA[
        select gifti.id, gifti.user_id, gifti.prod_code,
               brand.code as brdCode, brand.name as bname, prod.name as pname, prod.prc, min(gifti.dc_prc)as dc_prc, gifti.dc_rate, gifti.gft_stus_code,prod.descn,prod.img_path as pimg_path
        from gifticon as gifti
                 INNER JOIN product as prod ON gifti.prod_code = prod.code
                 INNER JOIN brand ON prod.brd_code = brand.code
        where prod_code like concat(#{code}, '%') and gft_stus_code =002
        group by gifti.prod_code
        ]]>
    </select>


    <!-- 기프티콘 목록 조회(페이징 처리)   -->
    <select id="getGiftiWithPaging" resultType="com.ncncn.domain.GifticonDTO">
        <![CDATA[
        select expir_dt, gifti.id, gifti.user_id, gifti.prod_code, brand.name as bname, prod.name as pname, prod.prc, prod.sold_quty, min(gifti.dc_prc)as dc_prc, gifti.dc_rate, gifti.gft_stus_code,prod.img_path  as pimg_path
        from gifticon as gifti
        INNER JOIN product as prod ON gifti.prod_code = prod.code
        INNER JOIN brand ON prod.brd_code = brand.code
        where prod_code like concat(#{code}, '%') and gft_stus_code =002
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
        group by gifti.prod_code
        order by
        ]]>
        <choose>
            <when test="orderby=='best'">prod.sold_quty desc</when>
            <when test="orderby=='low'">dc_prc</when>
            <when test="orderby=='high'">dc_prc desc</when>
            <when test="orderby=='deadline'">expir_dt,sold_quty desc</when>
        </choose>
        <![CDATA[
            LIMIT #{amount}
            OFFSET ${(pageNum-1) * amount}
        ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        <![CDATA[
        select count(tbl.id) from(
        select expir_dt, gifti.id, gifti.user_id, gifti.prod_code, brand.name as bname, prod.name as pname, prod.prc, prod.sold_quty, min(gifti.dc_prc)as dc_prc, gifti.dc_rate, gifti.gft_stus_code,prod.img_path  as pimg_path
        from gifticon as gifti
        INNER JOIN product as prod ON gifti.prod_code = prod.code
        INNER JOIN brand ON prod.brd_code = brand.code
        where prod_code like concat(#{code}, '%') and gft_stus_code =002
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
        group by gifti.prod_code
        order by
        ]]>
        <choose>
            <when test="orderby=='best'">prod.sold_quty desc</when>
            <when test="orderby=='low'">dc_prc</when>
            <when test="orderby=='high'">dc_prc desc</when>
            <when test="orderby=='deadline'">expir_dt,sold_quty desc</when>
        </choose>
        ) as tbl
    </select>

</mapper>
