<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.StatisticsMapper">

    <select id="readByToday" resultType="com.ncncn.domain.StatisticsVO">
        select * from statistics where date_format(dt, '%Y-%m-%d') = curdate()
    </select>

<!--    월별 매출액-->
    <select id="readSalesByMonth" resultType="com.ncncn.domain.AdminSalesHistVO">
        select SUM(deal.pymt_prc) as sumPrc , DATE_FORMAT(gft.up_date,'%Y') as sYear, DATE_FORMAT(gft.up_date,'%m') as sMonth
        from gifticon gft
            inner join deal_detail deal
        on gft.id = deal.gifticon_id
            inner join (select * from cmmn_code where code_type = 'GFT_STUS') cm
            on gft.gft_stus_code = cm.code
        where gft.gft_stus_code = '005'
        group by sMonth
        order by sMonth
    </select>


<!--    월별 방문자 수-->
    <select id="readVisitrByMonth" resultType="com.ncncn.domain.AdminVisitrHistVO">
        select count(*) as sumVisitr, DATE_FORMAT(visit_date,'%Y') as vYear, DATE_FORMAT(visit_date,'%m') as vMonth
        from visit
        group by vMonth
        order by vMonth
    </select>

<!--    월별 카테고리 매출비율-->
    <select id="readCateSalesByMonth" resultType="com.ncncn.domain.AdminCateSalesHistVO">
        select substr(gft.prod_code,1,2) as prodCode  ,SUM(deal.pymt_prc) as sumPrc , DATE_FORMAT(gft.up_date,'%m') as sMonth
        from gifticon gft
                 inner join deal_detail deal
                            on gft.id = deal.gifticon_id
                 inner join (select * from cmmn_code where code_type = 'GFT_STUS') cm
                            on gft.gft_stus_code = cm.code
        where gft.gft_stus_code = '005'
        group by sMonth, prodCode
        having sMonth = DATE_FORMAT(now(),'%m')
    </select>


    <insert id="initStatistics">
        insert statistics(dt, visitr_rec, sales_rec, in_user, up_user)
        values (curdate(), 0, 0, current_user, current_user )
    </insert>

<!--    방문자 수-->
    <update id="updateVisitrRec">
        <![CDATA[
            update statistics
            set visitr_rec = #{visitrRec}
            where date_format(dt, '%Y-%m-%d') = curdate()
        ]]>
    </update>


    <update id="updateSalesRec">
        <![CDATA[
            update statistics
            set sales_rec = ( select SUM(deal.pymt_prc)
                              from gifticon gft
                                       inner join deal_detail deal
                                                  on gft.id = deal.gifticon_id
                                       inner join (select * from cmmn_code where code_type = 'GFT_STUS') cm
                                                  on gft.gft_stus_code = cm.code
                              where gft.gft_stus_code = '005')
            where date_format(dt, '%Y-%m-%d') = curdate()
        ]]>
    </update>


</mapper>