<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.StatisticsMapper">

    <select id="readByToday" resultType="com.ncncn.domain.StatisticsVO">
        select * from statistics where date_format(dt, '%Y-%m-%d') = curdate()
    </select>


    <insert id="initStatistics">
        insert statistics(dt, visitr_rec, sales_rec, in_user, up_user)
        values (curdate(), 0, 0, current_user, current_user )
    </insert>

    <update id="updateVisitrRec">
        <![CDATA[
            update statistics
            set visitr_rec = #{visitrRec}
            where date_format(dt, '%Y-%m-%d') = curdate()
        ]]>
    </update>


    <update id="updateSalesRec">
        <![CDATA[
            update statistics
            set sales_rec = ( select SUM(deal.pymt_prc)
                              from deal_detail as deal
                                       join gifticon as gft
                                       join (select * from cmmn_code where code_type = 'GFT_STUS') cm
                                            on gft.gft_stus_code = cm.code
                              where gft.gft_stus_code = '005')
            where date_format(dt, '%Y-%m-%d') = curdate()
        ]]>
    </update>



</mapper>