<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncncn.mapper.WishListMapper">

    <insert id="insertWish">
        <![CDATA[
        insert into wish_list(prod_code, user_id, in_date, in_user, up_date, up_user)
        values (#{prodCode}, #{userId}, current_time, current_user, current_time , current_user)
        ]]>
    </insert>

    <select id="hasWish" resultType="int">
        <![CDATA[
        select count(*) from wish_list where prod_code = #{prodCode} AND user_id = #{userId}
        ]]>
    </select>

    <delete id="deleteWish">
        <![CDATA[
        delete from wish_list where prod_code = #{prodCode} AND user_id = #{userId}
        ]]>
    </delete>

    <!-- 관심 상품 조회 (홈) -->
    <select id="getWishList" resultType="com.ncncn.domain.WishListVO">
        <![CDATA[
        select wish.up_date, wish.prod_code, wish.user_id, brand.name as bname, prod.name as pname, prc, min(dc_prc)as dc_prc, max(dc_rate) as dc_rate, gifti.dc_rate,gft_stus_code, prod.img_path
        from wish_list as wish
                 INNER JOIN gifticon as gifti ON wish.prod_code = gifti.prod_code
                 INNER JOIN product as prod ON gifti.prod_code = prod.code
                 INNER JOIN brand ON prod.brd_code = brand.code
        where wish.user_id= #{userId}
        group by wish.prod_code
        order by wish.up_date desc
        ]]>
    </select>

    <!-- 관심 상품 조회(페이징 처리) -->
    <select id="getWishListWithPaging" resultType="com.ncncn.domain.WishListVO">
        <![CDATA[
        select wish.up_date, wish.prod_code, wish.user_id, brand.name as bname, prod.name as pname, prc, min(dc_prc)as dc_prc, max(dc_rate) as dc_rate, gifti.dc_rate,gft_stus_code, prod.img_path
        from wish_list as wish
                 INNER JOIN gifticon as gifti ON wish.prod_code = gifti.prod_code
                 INNER JOIN product as prod ON gifti.prod_code = prod.code
                 INNER JOIN brand ON prod.brd_code = brand.code
        where wish.user_id= #{userId}
        group by wish.prod_code
        order by wish.up_date desc
        LIMIT #{amount}
        OFFSET ${(pageNum-1) * amount}
        ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*)from wish_list where user_id= #{userId};
    </select>
</mapper>