#container{
    width:1000px;
    height:1000px;
    margin: auto;
    color: #333;
}
.space{
    height:40px;
    width:1000px;
    margin:auto;
}

/* 카테고리 네비게이션바 */
.catename, .search-result{
    padding: 10px;
}
.catename >.fas{
    color: #FF585D;
}
table{
    width: 1000px;
}
nav ul{
    width: 1000px;
	background-color: white;
	padding: 0;
	overflow: hidden;
    border-bottom: 1px solid gainsboro;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul a{
    color: #202020;
	display: inline-block;
	padding: 10px;
    font-size: small;
    list-style:none;
}
nav ul a:hover{
	color: #FF585D
}
.search-select {
    background-color: rgb(245, 244, 244);
    border: none;
    outline: none;
    border-radius: 5px;
    float: right;
    margin: 10px;
    
}
/* 상품 목록 */
table td{
    border-bottom: 1px solid #e6e6e6;
    padding: 5% 2%;
}

td a:link{
    text-decoration: none;
}

.items{
    width:200px;
    height:100%;
}

.itemoriginprice > span{
    margin-right: 28%;
}

/* 페이지네이션 css */

.pagination {
    display:flex;
    justify-content:center;
}

.pagination li{
    list-style:none;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    background-color: rgb(245, 244, 244);
    margin: 0 3px 0 3px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: rgb(255, 88, 93);
    color: white;
    border-radius: 5px;
}

/* 재검색 안내 */
.noresult, .noresult-tip{
    text-align: center;
}
.noresult-tip{
    margin-top: 30px;
}
.tip_lst{
    font-size: small;
    color: grey;
    line-height: 8px;
}
a { text-decoration: none; color: #333; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.brandList.active, .cateAll.active{
    color: rgb(255, 88, 93);
}