/* title section */
.tit_section {
    padding-top: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    line-height: 29px;
    clear: both;
}

/* 구매상품 아래 구분선 */
.order_goodslist {
    border-top: 1px solid gainsboro;
}

/* ~상품을 주문합니다. */
.order_goodslist .info_product .short_info {
    height: 80px;
    padding-top: 29px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    letter-spacing: -.35px;
    text-align: center;
}

/* 구매상품 이미지 */
.imgsec {
    padding-top: 20px;
    text-align: center;
}

.imgsec > img {
    width: 240px;
}

/* 구매자 정보 */
.order_section {
    overflow: hidden;
    letter-spacing: -0.3px;
}

/* 구매자 정보 아래 내용 */
.goodsinfo_table, .orderitem_money_info, .goodsinfo_table {
    display: flex;
    border-top: 1px solid gainsboro;
}

.goodsinfo_table > tbody, .orderitem_money_info {
    padding-top: 19px;
}

.data_orderer .goodsinfo_table .fst th, .money_info_table .fst th {
    padding-top: 19px;
}

.goodsinfo_table th, .money_info_table th {
    width: 190px;
    padding: 8px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    letter-spacing: -0.32px;
    vertical-align: top;
}

.goodsinfo_table th, .money_info_table th {
    padding: 10px;
    color: #202020;
    text-align: left;
    font-size: 14px;
}

.data_orderer .goodsinfo_table .fst td {
    padding-top: 19px;
}

.goodsinfo_table td, .money_info_table td {
    position: relative;
    padding: 8px 0;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    vertical-align: top;
}

.goodsinfo_table td, .money_info_table td {
    padding-left: 10px;
}

.data_orderer .txt_guide {
    padding: 16px 0 9px;
}

.txt_guide > .txt {
    display: block;
    font-size: 12px;
    line-height: 21px;
    color: #666;
}

.txt_guide .txt .txt_desc {
    font-weight: 500;
}

/* 결제수단 */
.data_method .card_detail td {
    padding-top: 11px;
}

.label_radio {
    display: inline-block;
    padding: 0 18px 0 6px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
}

.label_radio > input {
    margin-right: 5px;
}

#cardSelect .select_box {
    position: relative;
    float: left;
    width: 200px;
}

#cardSelect .select_box .list {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    opacity: 0;
}

#cardSelect .select_box .tit {
    display: block;
    overflow: hidden;
    width: 190px;
    height: 44px;
    padding: 0 30px 0 15px;
    border: 1px solid #514859;
    background: #fff url(https://res.kurly.com/pc/ico/2011/ico_selectbox_arrow.svg) no-repeat 160px 50%;
    background-size: 12px 8px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    letter-spacing: -0.5px;
}

#cardSelect .card_select:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
}

#cardSelect .card_event .inner_card {
    display: block;
    margin-bottom: -4px;
    padding-top: 6px;
}

#cardSelect .card_event .inner_card div {
    font-size: 12px;
    color: #666;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.goodsinfo_table th, .goodsinfo_table td, .money_info_table th, .money_info_table td {
    padding-top: 23px;
}

.p_pink {
    margin-left: 5%;
    color: #FF585D;
}

.goodsinfo_table .txt_notice li {
    font-size: 12px;
    color: #666;
    line-height: 22px;
    letter-spacing: -0.2px;
}

/* 개인정보 수집/제공 */
.goodsinfo_table .agree_check {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    line-height: 24px;
}

.goodsinfo_table .list_agree {
    overflow: hidden;
    width: 100%;
    padding-top: 5px;
    clear: both;
}

.goodsinfo_table .list_agree li {
    padding-top: 4px;
}

.goodsinfo_table .list_agree .subject {
    display: inline-block;
    width: 270px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    letter-spacing: -0.4px;
    vertical-align: 0;
}

.goodsinfo_table .list_agree .subject .emph {
    color: #999;
}

.list_agree {
    list-style-type: none;
    margin-left: 35px;
}

.agree_check > .ico {
    padding-left: 20px;
}

.btn_payment {
    display: block;
    width: 200px;
    height: 56px;
    margin: 50px auto 0;
    border: 0 none;
    border-radius: 3px;
    background-color: #FF585D;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.btn_payment:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.reg_agree {
    width: fit-content;
}

.txt_notice > ul {
    margin-left: 10px;
}