#container{
    width:1000px;
    margin: auto;
    color: #333333;
}
.msg {
    margin-top: 30px;
    margin-bottom:8%;
    text-align:center;
    font-size:25px;
}

.tablewrapper {
    width:100%;
}

.infotable {
    border-collapse:collapse;
    width:80%;
    margin: 8% auto;
}

.infotable tr, td{
    border: 1px solid grey;
    height: 50px;
    padding-left:10px;
}

.infotitle {
    width:20%;
    background-color: rgb(240, 240, 240);
}

.btn {
    background-color: rgb(255, 88, 93);
    color: white;
    width:110px;
    height:50px;
    font-size:15px;
    border-radius:5px;
    border:none;
    font-weight: bold;
    margin-right: 3%;
}

.btn-group{
    display: flex;
    justify-content: center;
}

